<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<head>

  <title>넷플릭스</title>
 
</head>

<body>
  <!-- 헤더 -->

  <section layout:fragment="content">
    <div>
      <div>결제 상세 정보</div>
      <div>
        <span><strong>아이디: </strong> <span th:text="${userId}"></span>
      </div>
      <ul th:each="order: ${orderList}">
        <li th:text="${order}"></li>
      </ul>
      <a class="btn btn-secondary text-decoration-none" href="/my/account">뒤로가기</a>
    </div>
  </section>




</body>

</html>