<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery/3.7.0/jquery-3.7.0.min.js"></script>
    <script src="/js/jquery/3.7.0/jquery-3.7.0.min.js"></script>
    <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--<link rel="stylesheet" href="/css/index.css"/>-->
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <title>NETFLIX</title>
</head>

  

<!--"${userVO.userId}"-->
<form action="">
</form>

<body>
    
   

    <iframe id="moviePlay" width="100%" height="100%" src=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</body>
<script>
    $(document).ready(function () {

    fnWatchPlay();
  });

  async function fnWatchPlay() {

    // const { data } = await axios.get(`/api/movies/${id}`);
    currentUrl = location.href;
    let urlParams = new URLSearchParams(currentUrl.split('?')[1]); // ? 이후의 파라미터 문자열 추출

// 'src' 파라미터 값 가져오기
    let srcParam = urlParams.get('src');
// 'src' 파라미터 값을 JSON으로 파싱
    // location.pathname =
    getOneMovie(srcParam);
  }
  async function getOneMovie(id) {

/*통신전에 progress START*/
const { data } = await axios.get(`movies/api/movies/${id}`);
/*통신전에 progress END*/
console.log(data);

$("#moviePlay").attr('src', data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist="+data.movietrailerUrl.split("/").pop().split("?")[0]+"&controls=0");

}
   

//  }
 </script>
</html>