<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <th:block th:fragment="common-js">
        <!-- <script th:src="@{}"></script> -->
        <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
        
        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery/3.6.4/jquery-3.7.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </th:block>
</body>
</html>