<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
    <!-- <%-- css링크연결 --%> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- <%-- script링크연결 --%> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <%-- 아이콘--%> -->
    <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
    <style>
        /* 푸터 스타일 */
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        /* 푸터 내용 스타일 */
        .footer-content {
        }

        .footer-title{
            
        }

        .footer-link{
            display: flex;
        }

        /* 링크 스타일 */
        .footer-link {
            text-decoration: none;
            color: #fff;
        }
    </style>
</head>
 
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-title">
                질문이 있으신가요? 문의 전화: 02-701-1712
            </div>
            <div class="footer-link">
                <div class="footer-question">
                    <ul>
                        <li><a class="footer-link" href="/">홈</a></li>
                        <li><a class="footer-link" href="/about">회사 소개</a></li>
                        <li><a class="footer-link" href="/services">서비스</a></li>
                        <li><a class="footer-link" href="/contact">연락</a></li>
                    </ul>
                </div>
                <div class="footer-customerCenter">
                    <ul>
                        <li><a class="footer-link" href="/">홈</a></li>
                        <li><a class="footer-link" href="/about">회사 소개</a></li>
                        <li><a class="footer-link" href="/services">서비스</a></li>
                        <li><a class="footer-link" href="/contact">연락</a></li>
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

        </div>
        <div>
            <p>&copy; 2023 홈페이지. 모든 권리 보유.</p>
        </div>
    </footer>
</body>
    <!-- 로그인 페이지에 넣을거 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //$('header').addClass('hd-white'); // 로그인 페이지에 넣을거
</script>
</html>