<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>넷플릭스</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <!-- 헤더 -->

  <section>
    <div class="w-50 ms-5 mt-5">
      <div id="title">
        <h1>비밀번호 변경</h1>
      </div>
      <div id="title-detail">
        <h3>6자 이상의 고유한 비밀번호로 계정을 보호하세요.</h3>
      </div>

      <form class="needs-validation" novalidate>
        <div>
          <input type="password" id="" name="old-password" placeholder="기존 비밀번호" required/>
          <div class="invalid-feedback">
            비밀 번호를 입력해주세요.
          </div>
        </div>
        <div>
          <input type="password" id="" name="new-password" placeholder="새 비밀번호(6~60자)" required/>
          <div class="invalid-feedback">
            새로운 번호를 입력해주세요.
          </div>
        </div>
        <div>
          <input type="password" id="" placeholder="새 비밀번호를 다시 입력하세요." required/>
          <div class="invalid-feedback">
            비밀번호가 다릅니다.
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="저장" />
        <input class="btn btn-secondary" type="button" onclick="location.href='/my/account'" value="취소" />
      </form>
    </div>
  </section>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    (function () {
      'use strict'

      const forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', async function (event) {

            if (!form.checkValidity()) {
              // 유효성 검사를 통과한 경우 다음 페이지로 이동
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()    
  </script>

</body>

</html>