<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.gunha.mapper.OrderMapper">


  <select id="selectLastOrderId" resultType="int">
    <![CDATA[ 
      select order_id from netflix_order where rownum <= 1 order by order_id desc
    ]]>
  </select>

  <select id="selectUserLastOrderId" resultType="int">
    select count(*) from netflix_order
      <where>
        <if test="userId != null">
          AND order_member_id = #{userId}
        </if>
      </where>
  </select>

  <select id="selectUserLastOrder" resultMap="orderMap">
    select * from netflix_order
      <where>
        <if test="userId != null">
          AND order_member_id = #{userId}
        </if>
        <![CDATA[ and rownum <= 1]]>
      </where>
      order by order_id desc
  </select>

  <select id="selectUserSecondLastOrder" resultMap="orderMap">
    <![CDATA[ 
      select * from (select rownum rnum, o.* from netflix_order o where order_member_id = #{userId} and rownum<=2 
      order by order_id desc) where rnum = 2
    ]]>
  </select>


  <select id="selectUserOrderList" resultMap="orderMap">
    <![CDATA[ 
      select * from netflix_order where order_member_id = #{userId}
      order by order_id desc
    ]]>
  </select>


  <select id="selectOrderList" resultMap="orderMap">
  <![CDATA[
    select * from NETFLIX_ORDER

  ]]>

  </select>


  <select id="selectOrderByOrderId" resultMap="orderMap">
    <![CDATA[
      select * from netflix_membership ms, netflix_member m, netflix_order o
        where o.order_id = #{orderId} and o.order_member_id = m.member_id
        and m.member_membership_no = ms.membership_no
    ]]>
  </select>


  <resultMap id="orderMap" type="teamproject.gunha.vo.OrderVO">
    <result property="orderId" column="order_id" />
    <result property="memberId" column="order_member_id" />
    <result property="cardNumber" column="order_member_card_number" />
    <result property="startDate" column="order_start_date" />
    <result property="orderValid" column="order_valid"/>
    <result property="customerUid" column="order_customer_uid"/>
    <result property="membershipGrade" column="membership_grade"/>
    <result property="amount" column="membership_amount"/>
  </resultMap>
</mapper>