<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.gunha.mapper.OrderMapper">



  <insert id="insertOrder">
    <![CDATA[ 
    insert into netflix_order
    (order_id  
    ]]>
      <if test="cardNumber !=null">
        , order_member_card_number
      </if>
      <if test="memberId !=null">
        , order_member_id
      </if>
      <if test="startDate != null">
        , order_start_date
      </if>
      <if test="orderValid != null">
        , order_valid
      </if>
      <if test="customerUid != null">
        , order_customer_uid
      </if>
      <if test="impUid != null">
        , order_imp_uid
      </if>
    <![CDATA[ 
    )
    values(seq_netflix_order_id.nextval
    ]]>
    <if test="cardNumber != null">
      , #{cardNumber}
    </if>
    <if test="memberId !=null">
      , #{memberId}
    </if>
    <if test="startDate != null">
      , #{startDate}
    </if>
    <if test="orderValid != null">
      , #{orderValid}  
    </if>
    <if test="customerUid != null">
      , #{customerUid}
    </if>
    <if test="impUid != null">
      , #{impUid}
    </if>
    <![CDATA[ 
    )
    ]]>

  </insert>


  <select id="selectLastOrderId" resultType="int">
    <![CDATA[ 
    SELECT last_number-1 FROM user_sequences WHERE sequence_name = 'SEQ_NETFLIX_ORDER_ID'
    ]]>
  </select>

  <select id="selectNextOrderId" resultType="int">
    <![CDATA[ 
      SELECT last_number FROM user_sequences WHERE sequence_name = 'SEQ_NETFLIX_ORDER_ID'
    ]]>
  </select>


  <select id="selectOrderByOrderId" resultMap="orderMap">
    <![CDATA[
      select * from netflix_membership ms, netflix_member m, netflix_order o
        where o.order_id = #{orderId} and o.order_member_id = m.member_id
        and m.member_membership_no = ms.membership_no
    ]]>
  </select>

  <select id="selectUserLastOrderId" resultType="int">
    select count(*) from netflix_order
    <where>
      <if test="userId != null">
        AND order_member_id = #{userId}
      </if>
    </where>
  </select>

  <select id="selectUserLastOrder" resultMap="orderMap">
    <![CDATA[ select rownum, d.* from (select o.* from netflix_order o ]]>
    <where>
      <if test="userId != null"> AND o.order_member_id = #{userId} </if>
    </where>
      <![CDATA[ order by order_id desc) d where rownum <=1 ]]>
  </select>

  <select id="selectUserSecondLastOrder" resultMap="orderMap">
    <![CDATA[ 
    select * from (select rownum rnum, d.* from (select o.* from netflix_order o where o.order_member_id = #{userId}  
      order by o.order_id desc) d where rownum <=2) where rnum =2
    ]]>
  </select>


  <select id="selectUserOrderList" resultMap="orderMap">
    <![CDATA[ 
      select * from netflix_order where order_member_id = #{userId}
      and order_id <= (select max(order_id) from netflix_order
      where order_member_id = #{userId} and order_imp_uid not like '%임시%') and rownum <= 10 order by order_id desc 
    ]]>
  </select>


  <select id="selectOrderList" resultMap="orderMap">
  <![CDATA[
    select * from NETFLIX_ORDER

  ]]>

  </select>





  <update id="updateOrder">
    <![CDATA[ 
      update netflix_order 
    ]]>
    <set>
      <if test="startDate !=null">
        order_start_date = #{startDate},
      </if> 
      <if test="orderValid !=null">
        order_valid=#{orderValid},
      </if>
      <if test="impUid !=null">
        order_imp_uid=#{impUid},
      </if>
    </set>
    <![CDATA[ 
      where order_id = #{orderId}
    ]]>

  </update>

  <delete id="deleteOrder">
    <![CDATA[ delete FROM NETFLIX_ORDER where order_id = #{orderId}]]>
  </delete>

  <resultMap id="orderMap" type="teamproject.gunha.vo.OrderVO">
    <result property="orderId" column="order_id" />
    <result property="memberId" column="order_member_id" />
    <result property="cardNumber" column="order_member_card_number" />
    <result property="startDate" column="order_start_date" />
    <result property="orderValid" column="order_valid" />
    <result property="customerUid" column="order_customer_uid" />
    <result property="membershipGrade" column="membership_grade" />
    <result property="amount" column="membership_amount" />
    <result property="impUid" column="order_imp_uid" />
  </resultMap>
</mapper>