<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.gunha.mapper.UserMapper">
<select id="selectUserId" resultMap="userMap">
  select * from NETFLIX_MEMBER mb , NETFLIX_AUTH au, netflix_member_profile mp
  where mb.member_id = au.auth_member_id and mb.member_id = mp.member_profile_member_id and mb.member_id = #{userId}
</select>
<resultMap id="userMap" type="teamproject.gunha.vo.UserVO">
  <result property="userId" column="member_id" />
  <result property="userEmail" column="member_email" />
  <result property="password" column="member_password" />
  <result property="cardNumber" column="member_card_number" />
  <result property="membershipNo" column="member_membership_no" />
  <result property="social" column="member_social" />
  <collection property="authList" resultMap="authMap"></collection>
  <collection property="profileList" resultMap="profileMap"></collection>
</resultMap>

<!-- <resultMap id="userMap" type="edu.global.demo.vo.UserVO">
  <constructor>
    <idArg column="member_id" javaType="java.lang.String" />
    <arg column="member_email" javaType="java.lang.String" />
    <arg column="member_password" javaType="java.lang.String" />
    <arg column="member_card_number" javaType="java.lang.String" />
    <arg column="member_membership_no" javaType="int" />
    <arg column="member_social" javaType="java.lang.String" />
  </constructor>
  <collection property="authList" resultMap="authMap"></collection>
</resultMap> -->



<resultMap id="authMap" type="teamproject.gunha.vo.AuthVO">
 <result property="userId" column="auth_member_id"/>
 <result property="authority" column="auth_member_authority"/>
</resultMap>

<resultMap id="profileMap" type="teamproject.gunha.vo.ProfileVO">
  <result property="userId" column="member_profile_member_id"/>
  <result property="profileName" column="member_profile_name"/>
</resultMap>

</mapper>