<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>영화 목록</title>
</head>

<body>
    <h1>영화 목록/h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.movieId}">1</td>
                <td th:text="${movie.movieName}">Movie Name</td>
                <td>
                    <a th:href="@{/admin/movie/view(movieId=${movie.movieId})}">View</a>
                    <a th:href="@{/admin/movie/edit(movieId=${movie.movieId})}">Edit</a>
                    <a th:href="@{/admin/movie/delete(movieId=${movie.movieId})}">Delete</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/admin/movie/add}">Add Movie</a>
</body>

</html>