<!DOCTYPE html>
 <!-- layout 관련 namespace 추가 선언 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        
        <!-- css.html -->
        <th:block th:replace="/header/common-css::common-css" ></th:block>
        <th:block layout:fragment="css" ></th:block>

    </head>
	
    <body>
        <!-- header.html -->
        <th:block th:replace="/header/header::headerFragment"></th:block>

        <!-- 공통적이지 않은 부분이 들어가는 부분 -->
        <th:block layout:fragment="content"></th:block>

        <!-- footer.html -->
        <th:block th:replace="/header/footer::footerFragment"></th:block>
        <th:block th:replace="/header/common-js::common-js" ></th:block>
        <th:block layout:fragment="js" ></th:block>
    </body>
</html>