<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.gunha.admin.AdminMovieMapper">
<select id="getAllMovies" resultMap="adminMovieMap">
<![CDATA[
select * from NETFLIX_MOVIE
]]>
</select>
<resultMap id="adminMovieMap" type="teamproject.gunha.admin.AdminMovieVO">
  <result property="movieId" column="movie_id" />
  <result property="movieName" column="movie_name" />
  <result property="moviePostUrl" column="movie_postUrl" />
  <result property="movieTrailerUrl" column="movie_trailerUrl" />
  <result property="movieContent" column="movie_content" />
  <result property="movieGenre" column="movie_genre" />
  <result property="movieCast" column="movie_cast" />
  <result property="movieReleaseDate" column="movie_release_date" />
  <result property="movieFavorite" column="movie_favorite" />
  <result property="autoplay" column="autoplay" />
</resultMap>


</mapper>