<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="js">

<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery/3.7.0/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
<script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
  <!-- <%-- 아이콘--%> -->

</th:block>

</html>