<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert title here</title>
  <!-- css링크연결 -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/header.css">
  <!-- script링크연결 -->
  <script href="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- 아이콘 -->
  <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
</head>

<body>
  <header th:fragment="header">
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <!-- <%-- Logo --%> -->
        <a class="navbar-brand logo" href="/">
          <img class="logo-img d-inline-block align-top" src="/images/header_netflixhomelogo.png" alt="로고">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}">홈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  th:href="@{/movie}">영화</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/my/mylist}" tabindex="-1" aria-disabled="true">내가 찜한 콘텐츠</a>
            </li>
          </ul>
          <!-- <%--반응형 드롭다운 메뉴--%> -->
          <div class="dropdown-main">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">메뉴</a>
            <ul class="dropdown-menu dropdown-main-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-main-item" th:href="@{/}">홈</a></li>
              <li><a class="dropdown-main-item" href="#">시리즈</a></li>
              <li><a class="dropdown-main-item" th:href="@{/movie}">영화</a></li>
              <li><a class="dropdown-main-item" th:href="@{/my/mylist}">내가 찜한 콘텐츠</a></li>
            </ul>
          </div>
          <!-- 오른쪽 메뉴 -->
          <div class="right-menu">
            <div class="menu">
              <div class="search">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="row search-box-inner">
                    <div class="col">
                      <input class="form-control me-2 card card-body" type="search" placeholder="Search"
                        aria-label="Search">
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu-item" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample1">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <div class="menu-item"><i class="fas fa-bell"></i></div>
              <div class="menu-item" sec:authorize="isAnonymous()">
                <a class="btn-danger btn" th:href="@{/login}">로그인</a>
              </div>
            </div>
            <th:block sec:authorize="hasRole('USER')">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle custom-btn" type="button" id="dropdownMenuButtonheader"
                  data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                  <th:block th:switch="${#authentication.principal.userVO.selectedProfile}">
                    <div th:case="null">
                      <script th:inline="javascript">
                        if ("/home" !== location.pathname && "/regi" !== location.pathname && "/regi2" !== location.pathname
                           && "/regi3" !== location.pathname && "/planform" !== location.pathname) {
                          location.href = "/home"
                        }
                      </script>
                    </div>
                    <th:block th:case="*">
                      <th:block th:each="profile, profileStat:${#authentication.principal.userVO.profileList}">
                        <img th:if="${profile.profileName == #authentication.principal.userVO.selectedProfile}"
                          th:src="'/images/profile/profile-'+ ${profileStat.index+1} + '.png'" alt="Dropdown Image">
                      </th:block>
                    </th:block>
                  </th:block>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" id="dropdownprofile">
                  <li th:each="profile, profileStat:${#authentication.principal.userVO.profileList}">
                    <th:block th:if="${profile.profileName != #authentication.principal.userVO.selectedProfile}">
                      <a class="dropdown-item profile-item" href="#">
                        <img th:src="'/images/profile/profile-'+ ${profileStat.index+1} + '.png'" alt="Dropdown Image">
                        <span th:attr="data-profile-name=${profile.profileName}" class="profile-name"
                          th:text="${profile.profileName}"></span>
                      </a>
                    </th:block>
                  </li>
                  <hr>
                  <li>
                    <a class="dropdown-item" href="/profile/manage">프로필 관리</a>
                  </li>
                  <hr>
                  <li><a class="dropdown-item" href="/my/account">계정</a></li>
                  <li><a class="dropdown-item" href="/qna">고객 센터</a></li>
                  <li>
                    <form id="logoutForm" action="/logout" method="POST">
                      <input type="submit" class="dropdown-item" href="#" value="Netflix에서 로그아웃" style="color:white; font-size: small;"></input>
                    </form>
                  </li>
                </ul>
              </div>
            </th:block>
          </div>

        </div>
        
        <div sec:authorize="isAnonymous()">
          <a class="btn-danger btn" th:href="@{/login}">로그인</a>
        </div>

        </div>
        <!-- <span th:text="${#authentication}"></span><br />
        <div sec:authorize="isAuthenticated()">
          <span th:text="${#authentication.principal}"></span>님 환영합니다<br />
          <span sec:authentication="principal.username"></span>님 환영합니다<br />
          <form id="logoutForm" action="/logout" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">logout</button>
            <a href="/my/account"><input type="button" value="마이페이지"></a>
            <div id="open-modal"><input type="button" value="프로필창 열기"></div>
            <div th:text="${selectedProfile}"></div>
          </form>
      </div> -->

    </nav>
  </header>
</body>
<!-- 로그인 페이지에 넣을거 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //$('header').addClass('hd-black-logout'); // 블랙 헤더 로그아웃 버전

    $('header').addClass('hd-white'); // 화이트 헤더 버전

    //$('header').addClass('hd-white-logout'); // 화이트 헤더 로그아웃 버전

</script>

</html>