* {
  /* border: 1px solid greenyellow; */
  box-sizing: border-box;

}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.modal {
  background-color: rgb(20, 20, 20);
  margin: 0;
  color: white;
  width: 850px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home {
  position: relative;
  background-color: rgb(20, 20, 20);
  height: 100%;
}

video {
  width: 100%;
}

iframe {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  padding: 50px 0;
}

.header {
  display: flex;
}

.logo {
  color: red;
  margin-right: 40px;
  font-size: 28px;
  font-weight: 900;
  line-height: 36px;

}

.nav {
  display: flex;
  color: white;
  line-height: 36px;
}

.nav-item {
  padding: 0 10px;
}

.menu {
  display: flex;
  margin-left: auto;
  color: white;
  line-height: 36px;

}

.menu-item {
  padding: 10px;
}

.banner {
  color: white;
  padding: 350px 50px;
}

.title {
  font-size: 72px;
}

.badge {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 0;
}

.discription {
  left: 0;
  width: 32em;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 4.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4; /*보여주고싶은 줄의 갯수*/
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.buttons {
  display: flex;
  padding: 20px 0;
}

.white-button {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
}

.grey-button {
  color: white;
  background-color: black;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
  margin-left: 15px;
}

.extra {
  position: absolute;
  right: 0;
  width: 140px;
  display: flex;

}

.replay-button {
  display: none;
  border: solid white;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  
}

.category-title {
  padding: 0 0 0 20px;
  font-size: 1.4vw;
  color: white;
}

.category-list {
  position: absolute;
  width: clac(100% - 50px);
  top: 550px;
}

.category .title {
  font-size: 18px;
  font-weight: 900;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  margin-right: 0;

}

.list {
  display: flex;
}

.info {
  color: white;
  text-decoration: none;
}

.detail-container {
  display: flex;
  justify-content: space-between;
}

#detailContent {
  padding-bottom: 16px;
}

.detail-left {
  width: 480px;
  left: 0;
}
.detail-right {
  width: 240px;
  left: 0;
}
