* {
  /* border: 1px solid greenyellow; */
  box-sizing: border-box;

}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.modal {
  background-color: rgb(20, 20, 20);
  margin: 0;
  color: white;
  width: 850px;
}

iframe {
  width: 100%;
}


.header {
  display: flex;
}


.buttons {
  display: flex;
  padding: 20px 0;
}

.white-button {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
}

.grey-button {
  color: white;
  background-color: black;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
  margin-left: 15px;
}

.info {
  color: white;
  text-decoration: none;
}

.detail-container {
  display: flex;
  justify-content: space-between;
}

#detailContent {
  padding-bottom: 16px;
}


.detail-left {
  width: 480px;
  left: 0;
}
.detail-right {
  width: 240px;
  left: 0;
}

.mylist-container {
  overflow: visible;
}

.mylist-wrapper {
  display: flex;
}

.mylist-post {
  padding: 2px;
  transition: all 300ms ease-in-out;
  position: relative;
  display: flex;
  width: 256px;

}

.imgbody {
  display: none;
  /* height: 0px; */
  padding: 10px 15px;
  position: absolute;
  background-color: #141414;
  top: 330px;
  width: 100%;
  /* max-width: 378px; */
}

.imgbody-detail {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.card-icon {
  color: #fff;
  padding: 5px !important;
  font-size: 28px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.text-white {
  font-size: 12px;
  align-items: center;
}

.mylist-post img {
  width: 100%;
  /* box-sizing: border-box; */
  /* max-width: 18rem; */
  cursor: grab;
  /* object-fit: contain;
  object-position: 100% 0%; */
  height: 350px;
}

.mylist-post img:active {
  cursor: grabbing;
}

.mylist-post:hover {
  transform: scale(1.3);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 10;
}

.mylist-post:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.mylist-post:hover>.imgbody {
  display: block;
  transition-delay: 300ms;
  /*z-index: 10;*/
}