:root{
    --bs-accordion-border-radius: 0;
}
.wrap {max-width: calc(80% - 6rem); margin: 0 auto; }

/* qna-main */
body {
    color: #fff;
    background-color: #222;
}

/*자주묻는 질문*/
#title{
    margin-top: 4em;
}


/*패널*/
.accordion { 
    border-color: black;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.416);
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: #333;

}

/*패널과 패널 사이*/
.accordion .accordion-item {
    margin-bottom: 0.5em;
    border-radius: 0px;
}

/*패널 머리*/
.accordion-button {
    color: white;
    background-color: #333;
    border-radius: 0%;
    height: 4em;
    padding-top: 1.3em;
}

/*패널 대답*/
.accordion-collapse {
    /* padding: 15px; */
    font-size: 1em;
    background-color: dimgray;
}

/*register container*/
.text-center{
    margin-top: 5em;
    margin-bottom: 2em;
}

/*register button*/
#register-button{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5em;
}

#index-bottom-signup{
    margin-top: 2em;
    margin-bottom: 4em;
}

.accordion-body {
    padding: 1.5em;
    font-size: revert;
}

