.wrap {max-width: calc(83.33333333333334% - 6rem); margin: 0 auto; }

#head-info{
    margin-right: 10px;
}
#container_header{
  margin-top: 5em;
}

/* 멤버십 정보 영역 */



.left{
  width: 25%;
}

/* 멤버십 상세정보 영역 */
.right{
  width: 75%;
}

.btn-cancel{
  height: 2.5em;
  border: 0px;
}

