* {
    border: 1px solid greenyellow;
}
.home {
    background-color: black;
}
video {
    width: 100%;
}
.header {
    position: absolute;
    display: flex;
}
.logo {
    color: red;
}
.nav {
    display: flex;
    color: white;
}
.nav-item {

}
.menu {
    display: flex;
    margin-left: auto;
    color: white;
}
.menu-item {

}