<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
<link rel="stylesheet" href="/idnex.css" />
<title>Insert title here</title>
</head>
<body>
  
  <div class="home">
    <video 
      src="https://youtu.be/CCXLUQzuigw"
      poster="http://ottnews.kr/Files/173/News/202205/3333_20220506143031148_c.JPG"
      autoplay
      muted

      >
    </video>

    <div class="overlay">
      <div class="header">
        <div class="logo">NETFLIX</div>
        <div class="nav">
          <div class="nav-item">홈</div>
          <div class="nav-item">TV 프로그램</div>
          <div class="nav-item">영화</div>
          <div class="nav-item">NEW! 요즘 대세 영화</div>
          <div class="nav-item">내가 찜한 콘텐츠</div>
        </div>
        <div class="menu">
          <div class="menu-item">A</div>
          <div class="menu-item">키즈</div>
          <div class="menu-item">A</div>
          <div class="menu-item">A</div>
          <div class="menu-item">A</div>
        </div>
      </div>
    </div>
  </div>

hello 이것이 인덱스! 란다
</body>
</html>