<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <!-- 영화 리스트 + 지울까말까  ==== > 이거 쓰면 스파이패밀리보다 위에 나옴 
  <div id="movieList"></div> 영화 목록이 표시되는 부분 -->

  <!-- 영화 리스트 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //     const movies = [
    //     { name: "어바웃타임", posterUrl: "images/sample.jpg", genre: "로맨스" },

    // ];

    // fetch('/api/movies') // UTL로 HTTP요청 보내고 데이터 처리 (GET)
    //   .then(response => response.json()) // json 형식으로 변환
    //   .then(data => { // 이전 단계에서 변환된 json데이터를 사용하여 실제 영화 목록 처리하고 웹 페이지에 표시
    //     console.log(data);
    //     const movieList = document.getElementById('movieList'); // HTML문서 내 id가 "movieList"인 요소를 찾아 가져옴
    //     data.forEach(movie => { // 가져온 영화 데이터 배열 반복 
    //       const movieDiv = document.createElement('div'); // 각 영화를 표시할 새로운 <div>요소 생성. 영화마다 생성되며 영화 정보가 포함
    //       movieDiv.innerHTML = ` 
    //                 <img src="${movie.posterUrl}" alt="${movie.name}" />
    //                 <h2>${movie.name}</h2>
    //                 <p>${movie.genre}</p>
    //             `; // 생성된 div 안에 영화 정보를 HTML 형식으로 추가. 포스터 이미지, 제목 및 장르 포함. ${} : 템플릿 리터럴을 사용하여 변수값을 문자열에 삽입
    //       movieList.appendChild(movieDiv); // 생성된 영화 정보가 포함된 div를 이전에 가져온 movieList요소에 추가. 각 영화 정보가 웹페이지에 표시
    //     });
    //   })
    //   .catch(error => console.error('Error fetching movies:', error)); // 데이터 가져오기나 처리 중 오류가 발생하면 오류를 콘솔에 출력

    // 영화 정보 추가 Create
    function addMovie(newMovie) { // 영화 정보 받아와 서버에 추가 -> newMovie 새로 추가될 영화 정보
      fetch('/api/movies', {  // 새로운 영화 정보를 추가하기 위해 api 엔드포인트로 요청 보냄
        method: 'POST', // 서버 측에 새로운 데이터 생성
        headers: { // 요청의 헤더에 json형식의 데이터 전송함 
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(newMovie) // newMovie 객체를 json형식으로 변환하여 전송~ 
      })
        .then(response => response.json()) // 서버로부터 받은 응답을 json으로 파싱
        .then(movie => { // 파싱된 json 데이터를 이용하여, 추가된 영화 정보를 웹 페이지에 랜더링하는 renderMovie함수 호출 
          renderMovie(movie);
        })
        .catch(error => console.error('Error adding movie:', error)); // 오류 콘솔로
    }



    //영화 정보 수정 update 
    function updateMovie(id, updatedMovie) { // 특정 영화 정보 업데이트 
      fetch(`/api/movies/${id}`, { // %{id} 고유 식별자를 나타내어 특정 영화 정보 업데이트 엔드포인트로..
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedMovie)
      })
        .then(response => response.json())
        .then(movie => {  // 업데이트된 영화 정보를 화면에 반영하는 코드 
        })
        .catch(error => console.error('Error updating movie:', error));
    }

    // 영화 정보 삭제 delete
    function deleteMovie(id) { // 삭제 ~ 
      fetch(`/api/movies/${id}`, { // 지정된 id를 사용하여 해당 영화의 삭제 요청을 서버에 
        method: 'DELETE'
      })
        .then(response => { // 서버로부터 응답받은 후에 처리하는 콜백 함수 
          if (response.status === 204) { // 응답 상태 코드가 204인 경우 처리 진행 !
            const movieElement = document.querySelector(`[data-movie-id="${id}"]`); // 삭제된 영화의 고유 식별자 id를 가진 영화 엘리먼트를 html에서 찾음. (data-moive-id속성이 id와 일치)
            if (movieElement) { // 삭제할 영화의 엘리먼트를 찾았다면 해당 엘리먼트 삭제 -> UI에서도 제거 
              movieElement.remove();
            }
          }
        })
        .catch(error => console.error('Error deleting movie:', error));
    }
  </script>

</body>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/jquery/3.6.4/jquery-3.7.0.min.js"></script>
  <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="/css/category/movie.css" />


  <title>NETFLIX</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>templates</title>

</head>


<script>

  $(document).ready(function () {
    fnInit();
  });

  let currentDataIndex = 0; // 현재까지 받은 데이터의 인덱스
  var isAllDataReceived = false; // 모든 데이터를 받아왔는지 여부

  function fnInit() {

    //임시 TITLE 증가값
    var isLoading = false; //새 콘텐츠 로딩여부 추적
    var count = 1;
    //무한스크롤 START
    //DOCUMENT 스크롤 이벤트 감지
    $(document).scroll(function () {
      //문서전체 높이값
      var maxHeight = $(document).height();
      //현재 스크롤 위치
      var currentScroll = $(window).scrollTop() + $(window).height();

      if (maxHeight <= currentScroll + 50 && !isLoading) {
        isLoading = true;
        //무한스크롤 END
        //화면에 추가로 보여줄 요소 생성 (AJAX) START
        //category Class내에 추가시킬 html소스 생성 위한 String 변수
        setTimeout(function () {
          if (currentDataIndex <= 40)
            getMovies();

          async function getMovies() {
            const { data } = await axios.get(`/api/movies?startIndex=${currentDataIndex}&count=10`)

            if (data.length < 10) {
              isAllDataReceived = true; // 모든 데이터를 받아왔다고 표시
            }

            currentDataIndex += 10;
            let containerHtml;

            containerHtml = "";
            containerHtml += `
          <div id="wrapper-list${[currentDataIndex / 10]}" class="category-title">${data[0].movieGenre}</div>
          <div class="swiper-container list${[currentDataIndex / 10]}Container">
            <div class="swiper-wrapper">
            `;
            //  <img src="${data[i*10+slideIndex].movieUrl}" alt="">
            //  ${data[i*10+slideIndex].movieName}
            for (let slideIndex = 0; slideIndex < 10; slideIndex++) {
              containerHtml += `
              <div class="swiper-slide">   
                <img src="${data[slideIndex].moviepostUrl}" alt="">
                <div class="imgbody">
                  <section class="imgbody-detail">
                    <div style="display:flex">
                      <i class="fa-regular fa-circle-play card-icon"></i>
                      <i class="fa-solid fa-circle-plus card-icon"></i>
                    </div>
                    <div>                      
                      <a class="fa-solid fa-circle-chevron-down card-icon" href="#modalcontainer" rel="modal:open"></a>                                           
                    </div>
                  </section>
                  <section class="imgbody-detail" >
                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">97% match</p> 
                    <div class="m-2 netflix-card-text text-white">Limited Series</div>
                    <div class="border netflix-card-text p-1 text-white">HD</div>                
                  </section>
                  <div class="netflix-card-text text-white">Provocative • Psychological • Thriller</div>
                </div>              
              </div>`;
            }
            containerHtml += `              
            </div>
          </div>
          <div class="swiper-button-next list${[currentDataIndex / 10]}Next"></div>
          <div class="swiper-button-prev list${[currentDataIndex / 10]}Prev"></div>
        `;
            const container = document.createElement("div");
            container.setAttribute("class", "container");
            container.innerHTML = containerHtml;
            const list = document.querySelector("#category");
            list.appendChild(container);
            const swiper = new Swiper(`.list${[currentDataIndex / 10]}Container`, {
              slidesPerView: 2,
              slidesPerGroup: 1,
              centeredSlides: false,
              loop: true,
              navigation: {
                nextEl: `.list${[currentDataIndex / 10]}Next`,
                prevEl: `.list${[currentDataIndex / 10]}Prev`,
              },
              breakpoints: {
                // 화면의 넓이가 50px 이상일 때
                50: {
                  slidesPerView: 2,
                  slidesPerGroup: 1,
                },
                // 화면의 넓이가 500px 이상일 때
                500: {
                  slidesPerView: 3,
                  slidesPerGroup: 1,
                },
                800: {
                  slidesPerView: 4,
                  slidesPerGroup: 1,
                },
                1100: {
                  slidesPerView: 5,
                  slidesPerGroup: 1,
                },
                1400: {
                  slidesPerView: 6,
                  slidesPerGroup: 1,
                }
              }

            });

            console.log(container);
            console.log(list);
          }
          isLoading = false; // 로딩 상태 초기화
        }, 2000); //2초 딜레이 지정


        //화면에 추가로 보여줄 요소 생성 (AJAX) END

        //ajax 대충예시 START
        /*ajax.success(result){
          var titleList = result.titleList;
          var srcList = ruesult.srcList;
          //+[{title:1, src:"xxxx"},{title:1, src:"xxxx"},{title:2, src:"xxxx"},{title:2, src:"xxxx"}];
  
          if(titleList.length > 0){
             for(var i=0; i<titleList.length; i++){
            htmlText+= '<div class="title" class="fstScl">'+titleList[i]+'</div>';
            htmlText+= '<div class="list" class="fstScl">';
            for(var j=0; j<srcList.length; j++){
              if(titleList[i].title == srcList[j].title){
                htmlText+= '<div class="movie">';
                htmlText+= '<img src="'+srcList[j].src+'" alt="">';
                htmlText+= '</div>';
              }
            }
            htmlText+= '</div>';
          }
          $("#category").append(htmlText); 
          }
          
        }
        , error(error){
          alert('리스트를 불러오는데 실패했습니다.');
        }*/
        //ajax 대충예시 END
      }
    })
  }    
</script>





<body>
  <style>
    div {
      color: white;
    }
  </style>
  <div class="home" id="home">

    <video src="/mp4/abouttime.mp4"
      poster="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140225_187%2Fjjy6374_1393262077172sH29y_PNG%2FAbout_Time3.png&type=sc960_832"
      autoplay muted>
    </video>

    <div class="overlay">
      <div class="header">
        <div class="logo">NETFLIX</div>
        <div class="nav">
          <div class="nav-item">홈</div>
          <div class="nav-item">TV 프로그램</div>
          <div class="nav-item">영화</div>
          <div class="nav-item">NEW! 요즘 대세 영화</div>
          <div class="nav-item">내가 찜한 콘텐츠</div>
        </div>
        <div class="menu">
          <div class="menu-item"><i class="fa-solid fa-magnifying-glass"></i></div>
          <div class="menu-item">키즈</div>
          <div class="menu-item"><i class="fa-solid fa-gift"></i></div>
          <div class="menu-item"><i class="fa-regular fa-bell"></i></div>
          <div class="menu-item">A</div>
        </div>
      </div>
      <div class="banner">
        <div class="series">N 시리즈</div>
        <div class="title">SpyFamily</div>
        <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
        <div class="discription">
          스파이, 암살자 그리고 초능력자. 각자 다른 사정이 있는 세 사람이 서로에게 정체를 숨기고 가상 가족을 결성한다.
        </div>
        <div class="buttons">
          <div class="white-button">
            <i id="btnMovePlay" class="fa-solid fa-play" style="cursor: pointer">재생</i>
            <input type="hidden" id="mainVideo" value="">
          </div>
          <div class="grey-button">
            <i class="fa-solid fa-circle-info"></i>
            <a class="info" href="#ex1" rel="modal:open">상세정보</a>
          </div>

        </div>
        <div class="extra">
          <div class="replay-button">
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </div>
          <div class="rating">
            <img
              src="https://i.namu.wiki/i/4rqHeSQ7TkE85vF3Vlnz59QUtkq5cE095mHuoGagn8GC1uAic4hrujblFA6fJU1zbqNKuu_5AVw01CRnVQsXMQ.svg"
              alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="category-list" id="category-list">
      <div class="category" id="category">

      </div>
    </div>
  </div>

  <div id="ex1" class="modal">
    <video src="/mp4/abouttime.mp4"
      poster="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140225_187%2Fjjy6374_1393262077172sH29y_PNG%2FAbout_Time3.png&type=sc960_832"
      autoplay muted>
    </video>
    <div class="buttons">
      <div class="white-button">
        <i class="fa-solid fa-play">재생</i>
        <input type="hidden" id="mainVideo" value="">
      </div>
    </div>

    <div class="detail-container">
      <div class="detail-left">
        <div class="probability">일치</div>
        <div class="detail-rating">관람등급</div>
        <div class="content">회차줄거리</div>
      </div>

      <div class="detail-right">
        <div class="actor">출연</div>
        <div class="genre">장르</div>
        <div class="feature">특징</div>
      </div>
    </div>

    <div class="content-list">
      <div class="content-num">1</div>
      <div class="content-num">2</div>
      <div class="content-num">3</div>
      <div class="content-num">4</div>
    </div>

    <div class="content-detail">
      여러가지 쭉 넣으세요
      출연, 장르, 특징, 관람등급, 출시일 등등
    </div>

  </div>

  <div id="ex2" class="modal">
    <div class="datail-warp">
      <div class="datail-body">
        <video src="/mp4/abouttime.mp4"
          poster="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140225_187%2Fjjy6374_1393262077172sH29y_PNG%2FAbout_Time3.png&type=sc960_832"
          autoplay muted>
        </video>
        <div class="buttons">
          <div class="white-button">
            <i class="fa-solid fa-play">재생</i>
            <input type="hidden" id="mainVideo" value="">
          </div>
        </div>

        <div class="detail-container">
          <div class="detail-left">
            <div class="probability">일치</div>
            <div class="detail-rating">관람등급</div>
            <div class="content">회차줄거리</div>
          </div>

          <div class="detail-right">
            <div class="actor">출연</div>
            <div class="genre">장르</div>
            <div class="feature">특징</div>
          </div>
        </div>

        <div class="content-list">
          <div class="content-num">1</div>
          <div class="content-num">2</div>
          <div class="content-num">3</div>
          <div class="content-num">4</div>
        </div>

        <div class="content-detail">
          여러가지 쭉 넣으세요
          출연, 장르, 특징, 관람등급, 출시일 등등
        </div>
      </div>
    </div>

  </div>




</body>



<script>
  $("#btnMovePlay").click(function () {
    var srcCd = $("#mainVideo").val();
    srcCd = "test"
    //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
    location.href = "//localhost:8888/watch?" + srcCd
    //location.href= "https://www.naver.com"
  });

  // const openBtn = document.querySelector("#ex2");
  // const modal = document.getElementById('datail-warp');
  // const closeBtn = document.getElementById('closeBtn');
  // const modalBody = document.querySelector(".datail-body");
  // openBtn.addEventListener("click", (e) => {
  //   e.stopPropagation();
  //   modal.style.display = `block`;
  // });

  // closeBtn.addEventListener('click', (e) => {
  //   e.stopPropagation();
  //   modal.style.display = 'none';
  // });
  // window.addEventListener("click", (e) => {
  //   e.stopPropagation();
  //   modal.style.display = 'none';
  // });
  // modalBody.addEventListener('click', (e) => {
  //   e.stopPropagation();
  // });


</script>
<script>
  getMovies();

  async function getMovies() {
    const { data } = await axios.get(`/api/movies`)

    let modalHtml;

    modalHtml = "";
    modalHtml += `
    <div id="datail" class="datail-warp">
      <div class="datail-body">
        <div class="swiper-wrapper">
`;
    //  <img src="${data[i*10+slideIndex].movieUrl}" alt="">
    //  ${data[i*10+slideIndex].movieName}
    for (let i = 0 ; data.length> 0; i++)
      modalHtml += ` 
      <iframe src="${data[0].movietrailerUrl.split("?")[0]}?mute=1&autoplay=1&controls=0"frameborder="0" allowfullscreen></iframe>
        <div class="imgbody">
     <section class="imgbody-detail">
      <div class="buttons">
          <div class="white-button">
            <i class="fa-solid fa-play">재생</i>
            <input type="hidden" id="mainVideo" value="">
          </div>
        </div>
              
</div>
</div>
</div>
`;
    const modal = document.createElement("div");
    modal.setAttribute("class", "modal");
    modal.innerHTML = modalHtml;
    const list = document.querySelector("#modal");
    list.appendChild(modal);
  }
</script>

</html>