<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/layouts/layout}">

<head>
  <title>MOVIE</title>

</head>

<body>
  <th:block layout:fragment="css"> 
    <link rel="stylesheet" href="/css/category/movie.css" />
    <style>
      div {
        color: white;
      }    
      header{
        position: relative;
        z-index: 100;
        color:#000000;
      }
      .home {
        top: -110px;
      }
      
    </style>
  </th:block>

  <th:block layout:fragment="content">
    <div class="home" id="home">

      <iframe id="mainFrame" width="1280" height="800" src="" frameborder="0" allowfullscreen></iframe>

      <div class="overlay">
        <div class="banner">
          <div class="series">N 시리즈</div>
          <div id="mainTitle" class="title"></div>
          <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
          <div id="mainContent" class="discription">
          </div>
          <div class="buttons">
            <div id="mainMovePlay" class="white-button" style="cursor: pointer">
              <i class="fa-solid fa-play">재생</i>
              <!-- <input type="hidden" id="mainVideo" value=""> -->
            </div>
            <div id="mainDetailModal" class="grey-button" style="cursor: pointer">
              <i class="fa-solid fa-circle-info"></i>
              <a class="info">상세정보</a>
            </div>

          </div>
        </div>
      </div>

      <!--포스터 컨테이너 생성-->
      <div class="category-list" id="category-list">
        <div class="category" id="category">

        </div>
      </div>

    </div>

    <!--모달창 생성-->
    <div id="detailModal" class="modal">
      <div class="video-container">
        <iframe id="detailFrame" width="850" height="480" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="buttons">
        <div id="playBtn" class="white-button" style="cursor: pointer">
          <i class="fa-solid fa-play">재생</i>
          <input type="hidden" id="mainVideo" value="">
        </div>
      </div>

      <div class="detail-container">
        <div class="detail-left">
          <div id="detailContent" class="content">회차줄거리</div>
        </div>

        <div class="detail-right">
          <div id="detailCast" class="actor">출연</div>
          <div id="detailGenre" class="genre">장르</div>
        </div>
      </div>

      <div class="content-detail">
        <div class="actor">
          <p id="detailCast2">출연</p>
        </div>
        <div class="genre">
          <p id="detailGenre2">장르</p>
        </div>
        <div class="releasedate">
          <p id="detailReleaseDate">출시일</p>
        </div>

      </div>

    </div>
  </th:block>

  <th:block layout:fragment="js">
    <script>
      $(document).ready(function () {
        fnInit();
        fnPageStart();
      });

      async function fnPageStart() {
        /*랜덤 뽑기*/
        const randomNumber = Math.floor(Math.random() * 50);
        const { data } = await axios.get(`/movies/api/movies?startIndex=0&count=50`);
        $("#mainFrame").attr('src', data[randomNumber].movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data[randomNumber].movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0")//index는 랜덤으로 만든 값
        $("#mainContent").text(data[randomNumber].movieContent)
        $("#mainTitle").text(data[randomNumber].movieName)
        $("#mainDetailModal").on("click", () => {

          getOneMovie(randomNumber + 1);
        });
        $("#mainMovePlay").click(function (e) {
          var srcCd = $("#mainVideo")
          console.log(randomNumber)
          //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
          location.href = `//localhost:8888/watch?src=${(randomNumber + 1)}`;
          //location.href= "https://www.naver.com"
        });



        $(".video-stream").attr('style', 'top:0px');


      }

      let currentDataIndex = 0; // 현재까지 받은 데이터의 인덱스
      var isAllDataReceived = false; // 모든 데이터를 받아왔는지 여부

      function fnInit() {

        //임시 TITLE 증가값
        var isLoading = false; //새 콘텐츠 로딩여부 추적
        var count = 1;
        var containerZindex = 10;
        
        //무한스크롤 START
        //DOCUMENT 스크롤 이벤트 감지
        $(document).scroll(function () {
          //문서전체 높이값
          var maxHeight = $(document).height();
          //현재 스크롤 위치
          var currentScroll = $(window).scrollTop() + $(window).height();

          if (maxHeight <= currentScroll + 50 && !isLoading) {
            isLoading = true;
            //무한스크롤 END
            //화면에 추가로 보여줄 요소 생성 (AJAX) START
            //category Class내에 추가시킬 html소스 생성 위한 String 변수
            setTimeout(function () {
              if (currentDataIndex <= 40)
                getMovies();

              async function getMovies() {
                const { data } = await axios.get(`/movies/api/movies?startIndex=${currentDataIndex}&count=10`);
    
                if (data.length < 10) {
                  isAllDataReceived = true; // 모든 데이터를 받아왔다고 표시
                }

                console.log(data);

                let containerHtml;

                containerHtml = "";
                containerHtml += `
              <div id="wrapper-list${[currentDataIndex / 10]}" class="category-title">${data[0].movieGenre}</div>
              <div class="swiper-container list${[currentDataIndex / 10]}Container">
                <div class="swiper-wrapper">
                `;
                  for (let slideIndex = 0; slideIndex < 10; slideIndex++) {
                    let dataIndex = currentDataIndex + slideIndex;
                    containerHtml += `
                    <div class="swiper-slide">   
                      <img id="modal-img-${dataIndex}" src="${data[slideIndex].moviepostUrl}" alt="" >
                      <div class="imgbody">
                        <section class="imgbody-detail">
                          <div style="display:flex">
                            <i id="playBtn2" class="fa-regular fa-circle-play card-icon" onclick="location.href='/watch?src=${dataIndex + 1}'"></i>
                            <i class="fa-solid fa-circle-plus card-icon"></i>
                          </div>
                          <a id="modal-button-${dataIndex}" class="fa-solid fa-circle-chevron-down card-icon"></a>                                           
                        </section>
                        <section class="imgbody-detail" >
                          <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">97% match</p> 
                          <div class="m-2 netflix-card-text text-white">Limited Series</div>
                          <div class="border netflix-card-text p-1 text-white">HD</div>                
                        </section>
                        <div class="netflix-card-text text-white">Provocative • Psychological • Thriller</div>
                      </div>              
                    </div>`;
                  }
                  containerHtml += `              
                </div>
              </div>
              <div class="swiper-button-next list${[currentDataIndex / 10]}Next"></div>
              <div class="swiper-button-prev list${[currentDataIndex / 10]}Prev"></div>
            `;

                const container = document.createElement("div");
                container.setAttribute("class", "category-container");
                container.setAttribute("style", "z-index:" + containerZindex);
                containerZindex--;
                container.innerHTML = containerHtml;
                const list = document.querySelector("#category");
                list.appendChild(container);

                for (let slideIndex = 0; slideIndex < 10; slideIndex++) {
                  let dataIndex = currentDataIndex + slideIndex;
                  const modalOpen = document.querySelector(`#modal-img-${dataIndex}`);
                  modalOpen.addEventListener("click", function (e) {
                    console.log(e.target);
                    console.log(dataIndex);
                    getOneMovie(dataIndex + 1);
                  })
                }

                for (let slideIndex = 0; slideIndex < 10; slideIndex++) {
                  let dataIndex = currentDataIndex + slideIndex;
                  const modalOpen = document.querySelector(`#modal-button-${dataIndex}`);
                  modalOpen.addEventListener("click", function (e) {
                    console.log(e.target);
                    console.log(dataIndex);
                    getOneMovie(dataIndex + 1);
                  })
                }

                const swiper = new Swiper(`.list${[currentDataIndex / 10]}Container`, {
                  slidesPerView: 2,
                  slidesPerGroup: 1,
                  centeredSlides: false,
                  loop: true,
                  navigation: {
                    nextEl: `.list${[currentDataIndex / 10]}Next`,
                    prevEl: `.list${[currentDataIndex / 10]}Prev`,
                  },
                  breakpoints: {
                    // 화면의 넓이가 50px 이상일 때
                    50: {
                      slidesPerView: 2,
                      slidesPerGroup: 1,
                    },
                    // 화면의 넓이가 500px 이상일 때
                    500: {
                      slidesPerView: 3,
                      slidesPerGroup: 1,
                    },
                    800: {
                      slidesPerView: 4,
                      slidesPerGroup: 1,
                    },
                    1100: {
                      slidesPerView: 5,
                      slidesPerGroup: 1,
                    },
                    1400: {
                      slidesPerView: 6,
                      slidesPerGroup: 1,
                    }
                  }

                });

                console.log(container);
                console.log(list);


                currentDataIndex += 10;

              }
              isLoading = false; // 로딩 상태 초기화
            }, 1000); //1초 딜레이 지정
            
          }

        })

      }

      async function getOneMovie(id) {

        /*통신전에 progress START*/
        const { data } = await axios.get(`/movies/api/movies/${id}`);
        /*통신전에 progress END*/
        console.log(id);
        $("#detailFrame").attr('src', data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
        $("#mainVideo").val(data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
        $("#detailContent").text(data.movieContent);
        $("#detailCast").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
        $("#detailGenre").text('장르 : ' + data.movieGenre);
        $("#detailCast2").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
        $("#detailGenre2").text('장르 : ' + data.movieGenre);
        $("#detailReleaseDate").text('개봉일자 : ' + new Date(data.movieReleaseDate).toLocaleDateString());
        $("#playBtn").click(function (e) {
          // var srcCd = $("#mainVideo")
          //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
          location.href = `//localhost:8888/watch?src=${(id)}`;
          //location.href= "https://www.naver.com"
        });

        $("#detailModal").modal();
        /*통신전에 progress END*/
        //모달창 구성하기
        //modal.style.display = `block`;
        //$("#detail").modal('show');
        console.log(data);
      }
            
    </script>
  </th:block>
</body>

</html>