<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <!-- <div th:with="loginPage=${/login}"> -->
  <div sec:authorize="isAnonymous()">
    <div><a th:href="@{/login}"> 로그인</a></div>
    <div><a href="/sign-up">회원가입</a></div>
  </div>
  <!-- </div> -->
  <!-- <span th:text="${#authentication}"></span><br /> -->
  <div sec:authorize="isAuthenticated()">
    <span th:text="${user}"></span>님 환영합니다<br />
    <span sec:authentication="principal.username"></span>님 환영합니다<br />
    <form id="logoutForm" action="/logout" method="POST">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit">logout</button>
    </form>
    <a href="/accountpage"><input type="button" value="마이페이지"></a>
    <div id="open-modal"><input type="button" value="프로필창 열기"></div>
    <div th:text="${selectedProfile}"></div>
    <div id="modalWrap">
      <div id="modalBody">
        <span id="closeBtn">&times;</span>
        <p>modal-popup 입니다.</p>
        <div class="profile-container" style="display: flex; justify-content: center;">
          <div th:each="profile: ${user.profileList}">
            <div th:text="${profile.profileName}"
              style="text-align: center; line-height: 100px; width:100px; height:100px;"></div>
          </div>
        </div>
        <div style="display: flex; justify-content: center;"><a href="/profile/manage">프로필 관리</a></div>
      </div>
    </div>
  </div>

  <!-- 영화 리스트 + 지울까말까  ==== > 이거 쓰면 스파이패밀리보다 위에 나옴 
  <div id="movieList"></div> 영화 목록이 표시되는 부분 -->

  <!-- 영화 리스트 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //     const movies = [
    //     { name: "어바웃타임", posterUrl: "images/sample.jpg", genre: "로맨스" },

    // ];

    // fetch('/api/movies') // UTL로 HTTP요청 보내고 데이터 처리 (GET)
    //   .then(response => response.json()) // json 형식으로 변환
    //   .then(data => { // 이전 단계에서 변환된 json데이터를 사용하여 실제 영화 목록 처리하고 웹 페이지에 표시
    //     console.log(data);
    //     const movieList = document.getElementById('movieList'); // HTML문서 내 id가 "movieList"인 요소를 찾아 가져옴
    //     data.forEach(movie => { // 가져온 영화 데이터 배열 반복 
    //       const movieDiv = document.createElement('div'); // 각 영화를 표시할 새로운 <div>요소 생성. 영화마다 생성되며 영화 정보가 포함
    //       movieDiv.innerHTML = ` 
    //                 <img src="${movie.posterUrl}" alt="${movie.name}" />
    //                 <h2>${movie.name}</h2>
    //                 <p>${movie.genre}</p>
    //             `; // 생성된 div 안에 영화 정보를 HTML 형식으로 추가. 포스터 이미지, 제목 및 장르 포함. ${} : 템플릿 리터럴을 사용하여 변수값을 문자열에 삽입
    //       movieList.appendChild(movieDiv); // 생성된 영화 정보가 포함된 div를 이전에 가져온 movieList요소에 추가. 각 영화 정보가 웹페이지에 표시
    //     });
    //   })
    //   .catch(error => console.error('Error fetching movies:', error)); // 데이터 가져오기나 처리 중 오류가 발생하면 오류를 콘솔에 출력

    // 영화 정보 추가 Create
    function addMovie(newMovie) { // 영화 정보 받아와 서버에 추가 -> newMovie 새로 추가될 영화 정보
      fetch('/api/movies', {  // 새로운 영화 정보를 추가하기 위해 api 엔드포인트로 요청 보냄
        method: 'POST', // 서버 측에 새로운 데이터 생성
        headers: { // 요청의 헤더에 json형식의 데이터 전송함 
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(newMovie) // newMovie 객체를 json형식으로 변환하여 전송~ 
      })
        .then(response => response.json()) // 서버로부터 받은 응답을 json으로 파싱
        .then(movie => { // 파싱된 json 데이터를 이용하여, 추가된 영화 정보를 웹 페이지에 랜더링하는 renderMovie함수 호출 
          renderMovie(movie);
        })
        .catch(error => console.error('Error adding movie:', error)); // 오류 콘솔로
    }



    //영화 정보 수정 update 
    function updateMovie(id, updatedMovie) { // 특정 영화 정보 업데이트 
      fetch(`/api/movies/${id}`, { // %{id} 고유 식별자를 나타내어 특정 영화 정보 업데이트 엔드포인트로..
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedMovie)
      })
        .then(response => response.json())
        .then(movie => {  // 업데이트된 영화 정보를 화면에 반영하는 코드 
        })
        .catch(error => console.error('Error updating movie:', error));
    }

    // 영화 정보 삭제 delete
    function deleteMovie(id) { // 삭제 ~ 
      fetch(`/api/movies/${id}`, { // 지정된 id를 사용하여 해당 영화의 삭제 요청을 서버에 
        method: 'DELETE'
      })
        .then(response => { // 서버로부터 응답받은 후에 처리하는 콜백 함수 
          if (response.status === 204) { // 응답 상태 코드가 204인 경우 처리 진행 !
            const movieElement = document.querySelector(`[data-movie-id="${id}"]`); // 삭제된 영화의 고유 식별자 id를 가진 영화 엘리먼트를 html에서 찾음. (data-moive-id속성이 id와 일치)
            if (movieElement) { // 삭제할 영화의 엘리먼트를 찾았다면 해당 엘리먼트 삭제 -> UI에서도 제거 
              movieElement.remove();
            }
          }
        })
        .catch(error => console.error('Error deleting movie:', error));
    }
  </script>

</body>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/jquery/3.6.4/jquery-3.7.0.min.js"></script>
  <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="/css/home.css" />


  <title>NETFLIX</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>templates</title>
  <style>
    * {
      box-sizing: border-box;
    }

    #modalWrap {
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      display: block;
    }

    #modalBody {
      width: 500px;
      height: 300px;
      padding: 30px 30px;
      margin: 0 auto;
      border: 1px solid #777;
      background-color: #fff;
    }

    #closeBtn {
      float: right;
      font-weight: bold;
      color: #777;
      font-size: 25px;
      cursor: pointer;
    }
  </style>
</head>

<!-- <script>

  $(document).ready(function () {
    fnInit();
  });

  function fnInit() {

    //임시 TITLE 증가값
    var isLoading = false; //새 콘텐츠 로딩여부 추적
    var count = 1;
    //무한스크롤 START
    //DOCUMENT 스크롤 이벤트 감지
    $(document).scroll(function () {
      //문서전체 높이값
      var maxHeight = $(document).height();
      //현재 스크롤 위치
      var currentScroll = $(window).scrollTop() + $(window).height();

      if (maxHeight <= currentScroll + 50 && !isLoading) {
        isLoading = true;
        //무한스크롤 END
        //화면에 추가로 보여줄 요소 생성 (AJAX) START
        //category Class내에 추가시킬 html소스 생성 위한 String 변수
        setTimeout(function () {
          var htmlText = "";
          var byunsuArr = [];
          for (var i = 0; i < 3; i++) {
            byunsuArr.push("byunsu" + count);
            htmlText += '<div class="container">';
            htmlText += '<div class="category-title">지금뜨는컨텐츠' + count + '</div>';
            htmlText += '<div class="swiper-container byunsu' + count + 'Container">';
            htmlText += '<div class="swiper-wrapper">';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '<div class="swiper-slide">';
            htmlText += '<img src="https://source.unsplash.com/224x126/?random" alt="">';
            htmlText += '</div>';
            htmlText += '</div>';
            htmlText += '</div>';
            htmlText += '<div class="swiper-button-next byunsu' + count + 'Next"></div>';
            htmlText += '<div class="swiper-button-prev byunsu' + count + 'Prev"></div>';
            htmlText += '</div>';

            count++;

          }
          $("#category").append(htmlText);

          //여기서 스와이프 변수 선언이 되야함
          for (var i = 0; i < byunsuArr.length; i++) {
            eval(
              "const swiper" + byunsuArr[i] + "= new Swiper('." + byunsuArr[i] + "Container', {slidesPerView: 6, slidesPerGroup: 6, centeredSlides: false, loop: false, navigation: { nextEl: '." + byunsuArr[i] + "Next', prevEl: '." + byunsuArr[i] + "Prev',}})"
            );
          }
          isLoading = false; // 로딩 상태 초기화
        }, 2000); //2초 딜레이 지정

        //화면에 추가로 보여줄 요소 생성 (AJAX) END

        //ajax 대충예시 START
        /*ajax.success(result){
          var titleList = result.titleList;
          var srcList = ruesult.srcList;
          //+[{title:1, src:"xxxx"},{title:1, src:"xxxx"},{title:2, src:"xxxx"},{title:2, src:"xxxx"}];
  
          if(titleList.length > 0){
             for(var i=0; i<titleList.length; i++){
            htmlText+= '<div class="title" class="fstScl">'+titleList[i]+'</div>';
            htmlText+= '<div class="list" class="fstScl">';
            for(var j=0; j<srcList.length; j++){
              if(titleList[i].title == srcList[j].title){
                htmlText+= '<div class="movie">';
                htmlText+= '<img src="'+srcList[j].src+'" alt="">';
                htmlText+= '</div>';
              }
            }
            htmlText+= '</div>';
          }
          $("#category").append(htmlText); 
          }
          
        }
        , error(error){
          alert('리스트를 불러오는데 실패했습니다.');
        }*/
        //ajax 대충예시 END
        }  
      })
  
  
  
      $("#btnMovePlay").click(function(){
        var srcCd = $("#mainVideo").val();
        srcCd = "test"
        //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
        location.href= "//localhost:8888/watch?"+srcCd
        //location.href= "https://www.naver.com"
      });
  
  
    }
  
    
  </script> -->



<body>
  <style>
    div {
      color: white;
    }
  </style>
  <div class="home" id="home">

    <video src="/mp4/spyfamily.mp4" poster="http://ottnews.kr/Files/173/News/202205/3333_20220506143031148_c.JPG"
      autoplay muted>
    </video>

    <div class="overlay">
      <div class="header">
        <div class="logo">NETFLIX</div>
        <div class="nav">
          <div class="nav-item">홈</div>
          <div class="nav-item">TV 프로그램</div>
          <div class="nav-item">영화</div>
          <div class="nav-item">NEW! 요즘 대세 영화</div>
          <div class="nav-item">내가 찜한 콘텐츠</div>
        </div>
        <div class="menu">
          <div class="menu-item"><i class="fa-solid fa-magnifying-glass"></i></div>
          <div class="menu-item">키즈</div>
          <div class="menu-item"><i class="fa-solid fa-gift"></i></div>
          <div class="menu-item"><i class="fa-regular fa-bell"></i></div>
          <div class="menu-item">A</div>
        </div>
      </div>
      <div class="banner">
        <div class="series">N 시리즈</div>
        <div class="title">SpyFamily</div>
        <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
        <div class="discription">
          스파이, 암살자 그리고 초능력자. 각자 다른 사정이 있는 세 사람이 서로에게 정체를 숨기고 가상 가족을 결성한다.
        </div>
        <div class="buttons">
          <div class="white-button">
            <i id="btnMovePlay" class="fa-solid fa-play">재생</i>
            <input type="hidden" id="mainVideo" value="">
          </div>
          <div class="grey-button">
            <i class="fa-solid fa-circle-info"></i>
            <a class="info" href="#ex1" rel="modal:open">상세정보</a>
          </div>

        </div>
        <div class="extra">
          <div class="replay-button">
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </div>
          <div class="rating">
            <img
              src="https://i.namu.wiki/i/4rqHeSQ7TkE85vF3Vlnz59QUtkq5cE095mHuoGagn8GC1uAic4hrujblFA6fJU1zbqNKuu_5AVw01CRnVQsXMQ.svg"
              alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="category-list" id="category-list">
      <div class="category" id="category">

        <div class="card-wrapper">
          <div class="card-top">
            <img class="image"
              src="https://images.unsplash.com/photo-1499676763409-c0211693a66b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
          </div>

          <div class="card-bottom">
            <span class="top-text">Premium Membership</span><br>
            <span class="bottom-text">Join our membership program to download music for free, listen offline and skip
              songs</span>
            <br>
            <button class="button">Join Us</button>
          </div>
        </div>



        <div class="container">
          <div class="category-title">지금뜨는컨텐츠</div>
          <div class="swiper-container hotContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>

              <div class="card-bottom">
                <span class="top-text">Premium Membership</span><br>
                <span class="bottom-text">Join our membership program to download music for free, listen offline and
                  skip songs</span>
                <br>
                <button class="button">Join Us</button>
              </div>

              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>

              <div class="card-bottom">
                <span class="top-text">Premium Membership</span><br>
                <span class="bottom-text">Join our membership program to download music for free, listen offline and
                  skip songs</span>
                <br>
                <button class="button">Join Us</button>
              </div>

              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
            </div>


          </div>
          <div class="swiper-button-next hotNext"></div>
          <div class="swiper-button-prev hotPrev"></div>
        </div>

        <!-- <div class="container">
          <div class="category-title">시청중인컨텐츠</div>
          <div class="swiper-container ingContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
            </div>


          </div>
          <div class="swiper-button-next ingNext"></div>
          <div class="swiper-button-prev ingPrev"></div>
        </div>

        <div class="container">
          <div class="category-title">찜한컨텐츠</div>
          <div class="swiper-container zzimContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
            </div>


          </div>
          <div class="swiper-button-next zzimNext"></div>
          <div class="swiper-button-prev zzimPrev"></div>
        </div>

        <div class="container">
          <div class="category-title">슬라이드테스트</div>
          <div class="swiper-container slideContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://source.unsplash.com/224x126/?random" alt="">
              </div>
            </div>


          </div>
          <div class="swiper-button-next slideNext"></div>
          <div class="swiper-button-prev slidePrev"></div>
        </div> -->


      </div>
    </div>
  </div>

  <div id="ex1" class="modal">
    <video src="/mp4/spyfamily.mp4" poster="http://ottnews.kr/Files/173/News/202205/3333_20220506143031148_c.JPG"
      autoplay muted>
    </video>
    <div class="buttons">
      <div class="white-button">
        <i id="btnMovePlay" class="fa-solid fa-play">재생</i>
        <input type="hidden" id="mainVideo" value="">
      </div>
    </div>

    <div class="detail-container">
      <div class="detail-left">
        <div class="probability">일치</div>
        <div class="detail-rating">관람등급</div>
        <div class="content">회차줄거리</div>
      </div>

      <div class="detail-right">
        <div class="actor">출연</div>
        <div class="genre">장르</div>
        <div class="feature">특징</div>
      </div>
    </div>

    <div class="content-list">
      <div class="content-num">1</div>
      <div class="content-num">2</div>
      <div class="content-num">3</div>
      <div class="content-num">4</div>
    </div>

    <div class="content-detail">
      여러가지 쭉 넣으세요
      출연, 장르, 특징, 관람등급, 출시일 등등
    </div>

  </div>



  </div>

</body>



<script>
      getMovies(); 
    async function getMovies(){
      const {data} = await axios.get('/api/movies')
      // <div class="swiper-slide">
      //             <img src="https://source.unsplash.com/224x126/?random" alt="">
      //           </div>
      // console.log(data);
      console.log(data);
      let container;
      let containerHtml;
      const containerList = [];
      for(let i =0;i<5;i++){
        containerList.push(`list${i}`);
      }
      
      for(let i = 0;i<data.length/10;i++){
        containerHtml = "";
        containerHtml += `
          <div id="wrapper-${containerList[i]}" class="category-title">${containerList[i]}</div>
          <div class="swiper-container ${containerList[i]}Container">
            <div class="swiper-wrapper">
            `
      //  <img src="${data[i*10+slideIndex].movieUrl}" alt="">
      //  ${data[i*10+slideIndex].movieName}
      for (let slideIndex = 0; slideIndex < 10; slideIndex++) {
        containerHtml += `
              <div class="swiper-slide">
                <img src="${data[i*10+slideIndex].moviepostUrl}" alt="">
                ${data[i*10+slideIndex].movieName}
              </div>`
      }
      containerHtml += `
            </div>
          </div>
          <div class="swiper-button-next ${containerList[i]}Next"></div>
          <div class="swiper-button-prev ${containerList[i]}Prev"></div>
        `
      container = document.createElement("div");
      container.setAttribute("class", "container");
      container.innerHTML = containerHtml;
      const list = document.querySelector("#category");
      list.appendChild(container);
      const swiper = new Swiper(`.${containerList[i]}Container`, {
        slidesPerView: 6,
        slidesPerGroup: 6,
        centeredSlides: false,
        loop: false,
        navigation: {
          nextEl: `.${containerList[i]}Next`,
          prevEl: `.${containerList[i]}Prev`,
        }
      });

      console.log(container);
      console.log(list);
    }

    console.log(containerHtml);
  }
  const swiper = new Swiper(".hotContainer", {
    slidesPerView: 6,
    slidesPerGroup: 6,
    centeredSlides: false,
    loop: false,
    navigation: {
      nextEl: '.hotNext',
      prevEl: '.hotPrev',
    },
    breakpoints: {
      // 화면의 넓이가 320px 이상일 때
      320: {
        slidesPerView: 6,
        slidesPerGroup: 6,
      },
      // 화면의 넓이가 640px 이상일 때
      640: {
        slidesPerView: 6,
        slidesPerGroup: 6,
      }
    }
  });

  const swiper2 = new Swiper(".ingContainer", {
    slidesPerView: 6,
    slidesPerGroup: 6,
    centeredSlides: false,
    loop: false,
    navigation: {
      nextEl: '.ingNext',
      prevEl: '.ingPrev',
    }
  });

  const swiper3 = new Swiper(".zzimContainer", {
    slidesPerView: 6,
    slidesPerGroup: 6,
    centeredSlides: false,
    loop: false,
    navigation: {
      nextEl: '.zzimNext',
      prevEl: '.zzimPrev',
    }
  });

  const swiper4 = new Swiper(".slideContainer", {
    slidesPerView: 6,
    slidesPerGroup: 6,
    centeredSlides: false,
    loop: false,
    navigation: {
      nextEl: '.slideNext',
      prevEl: '.slidePrev',
    }
    //  breakpoints: {
    //   700: {
    //     slidesPerView: 4,
    //     slidesPerGroup: 4,
    //     spaceBetween: 3,
    //     centeredSlides: false
    //   },
    //     // when window width is >= 800px
    //   800: {
    //     slidesPerView: 5,
    //     slidesPerGroup: 5,
    //     spaceBetween: 2,
    //     centeredSlides: false
    //   },

    //    // when window width is >= 1100px
    //    1100: {
    //      slidesPerView: 6,
    //      slidesPerGroup: 6,
    //      spaceBetween: 1,
    //      centeredSlides: false
    //    }

    // }
  });

  const openBtn = document.querySelector("#open-modal");
  const modal = document.getElementById('modalWrap');
  const closeBtn = document.getElementById('closeBtn');
  const modalBody = document.querySelector("#modalBody");
  openBtn.addEventListener("click", (e) => {
    e.stopPropagation();
    modal.style.display = `block`;
  });

  closeBtn.addEventListener('click', (e) => {
    e.stopPropagation();
    modal.style.display = 'none';
  });
  window.addEventListener("click", (e) => {
    e.stopPropagation();
    modal.style.display = 'none';
  });
  modalBody.addEventListener('click', (e) => {
    e.stopPropagation();
  });


</script>

</html>