<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/layouts/layout}">

<head>
  <title> </title>

</head>

<body>
  <th:block layout:fragment="css">
    <link th:href="@{/css/login/index-style.css}" rel="stylesheet">
  </th:block>

  <th:block layout:fragment="content">
    <div class="main">
      <div class="content-introduction">
        <h1><strong>영화, 시리즈등을 무제한으로</strong></h1>
        <h3>어디서나 자유롭게 시청하세요. 해지는 언제든 가능합니다.</h3>
        <p>시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</p>
  
        <form id="email-signup" class="row g-3 align-items-center">
          <div class="col-auto1">
            <a th:href="@{/regi}" class="btn btn-danger btn-lg" style="background-color: rgba(255, 0, 0);"> 시작하기 &gt; </a>
          </div>
        </form>
      </div>
    </div>
  
    <div class="main-bnr">
      <div class="inner-wrap">
        <div class="inr-box promotion-bnr fs-6">
          <div class="img"><img src="/images/popcorn.png" class="bnr-loginImg"></div>
          <div class="text-content text-white">
            <h4>13500원이면 만날 수 있는 넷플릭스.</h4>
            <p style="font-size: medium;">스탠다드 멤버십에 가입하세요</p>
            <a href="#" style="font-size: medium;">자세히 알아보기 &gt;</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="netflix-intro1">
      <div class="wrap">
        <div class="netflix-introduction-box d-flex justify-content-center align-items-center intro-box">
          <div class="netflix-introduction-content intro-cont col justify-content-center">
            <h2><strong>TV로 즐기세요</strong></h2>
            <h4>스마트 TV, PlayStation, Xbox, Chromecast, Apple TV, 블루레이 플레이어등 다양한 디바이스에서 시청하세요.</h4>
          </div>
          <div class="intro-video"> <!-- 부모 컨테이너 -->
            <div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-m5f3qu e15c37ii14 video">
              <video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""
                style="z-index: 1;"> <!-- 비디오 위에 이미지 배치 -->
                <source src="/video/video-tv-0819.m4v" type="video/mp4">
              </video>
            </div>
            <div class="frame"> <!-- 이미지는 비디오 위에 배치 -->
              <img src="/images/index-tv.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="interval"></div>
  
    <div class="netflix-intro2">
      <div class="wrap d-flex"> <!-- 부모 컨테이너 (d-flex를 이용하여 가로로 나열) -->
        <div class="intro-video" style="position: relative;"> <!-- 동영상 -->
          <div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-m5f3qu e15c37ii14 video">
            <video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""
              style="z-index: 1; width:27em;">
              <source src="/video/video-devices.m4v" type="video/mp4">
            </video>
          </div>
          <div class="frame" style="position: absolute; top: -37px; left: -126px; z-index: 2;">
            <img src="/images/index-introduction.png">
          </div>
        </div>
        <div class="netflix-introduction-box d-flex justify-content-center align-items-center intro-box" style="flex: 1;">
          <!-- "intro-box" -->
          <div class="netflix-introduction-content intro-cont col justify-content-center" style="width:30em;">
            <h2><strong>어디서나 자유롭게 시청하세요</strong></h2>
            <h4>각종 영화와 시리즈를 스마트폰, 태블릿, 노트북, TV에서 무제한으로 스트리밍하세요.</h4>
          </div>
        </div>
      </div>
    </div>
  
    <div id="interval"></div>
  
    <div class="netflix-intro3">
      <div class="wrap d-flex"> <!-- 부모 컨테이너 (d-flex를 이용하여 가로로 나열) -->
        <div class="img"><img src="/images/index-mobile.jpg"></div>
        <div class="netflix-introduction-content">
          <h2><strong>즐겨 보는 콘텐츠를 저장해 오프라인으로 시청하세요</strong></h2>
          <h4>광고 없는 멤버십에서만 이용 가능합니다.</h4>
        </div>
      </div>
    </div>
  
  
    <div id="interval"></div>
  
    <div class="netflix-qna">
      <div class="text-center">
        <h1><strong>자주묻는 질문</strong></h1>
        <div class="align-self-center wrap ">
          <div class="panel-group p-3" id="accParent" role="tablist">
            <!--패널 콜렙스-->
            <div class="accordion accordion-flush" id="accordionFlushExample">

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      넷플릭스에서 어떤 콘텐츠를 시청할 수 있나요?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      넷플릭스는 장편 영화, 애니메이션, 각종 상을 수상한 영화 등 수많은 콘텐츠를 확보하고 있습니다. 마음에 드는 콘틴츠를 원하는 시간에 원하는 만큼 시청하실 수 있습니다.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                     넷플릭스란 무엇인가요?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      넷플릭스는 각종 수상 경력에 및나는 영화, 에니메이션등 다양한 콘텐츠를 인터넷 연결이 가능한 수천 종의 디바이스에서 시청할 수 있는 스트리밍 서비스 입니다.
                      <br><br>
                      저렴한 월 요금으로 원하는 시간에 원하는 만큼 즐길 수 있습니다. 무궁무진한 콘텐츠가 준비되어 있으며 매주 새로운 시리즈와 영화가 제공됩니다.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      넷플릭스 요금은 얼마인가요?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      스마트폰, 태블릿, 스마트TV, 노트북, 스트리밍 디바이스 등 다양한 디바이스에서 월정액 요금 하나로 넷플릭스를 시청하세요. 멤버십 요금은 다양합니다. 추가 비용이나 약정이 없습니다.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      어디에서 시청할수 있나요?
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      언제 어디서나 시청할 수 있습니다. 넷플릭스 계정으로 로그인하면 PC에서 바로 시청할 수 있으며, 인터넷이 연결되어 있고 넷플릭스 앱을 지원하는 디바이스(스마트 TV, 스마트폰, 태블릿, 스트리밍 미디어 플레이어, 게임 콘솔 등)에서도 언제든지 시청할 수 있습니다.
                      <br><br>
                      iOS, Android, Windows 10용 앱에서는 좋아하는 시리즈를 저장할 수도 있습니다. 저장 기능을 이용해 이동 중이나 인터넷에 연결할 수 없는 곳에서도 시청하세요. 넷플릭스는 어디서든 함께니까요.
                    </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      멤버십을 해지하려면 어떻게 하나요?
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      언제 어디서나 시청할 수 있습니다. 넷플릭스 계정으로 로그인하면 PC에서 바로 시청할 수 있으며, 인터넷이 연결되어 있고 넷플릭스 앱을 지원하는 디바이스(스마트 TV, 스마트폰, 태블릿, 스트리밍 미디어 플레이어, 게임 콘솔 등)에서도 언제든지 시청할 수 있습니다.
                      <br><br>
                      iOS, Android, Windows 10용 앱에서는 좋아하는 시리즈를 저장할 수도 있습니다. 저장 기능을 이용해 이동 중이나 인터넷에 연결할 수 없는 곳에서도 시청하세요. 넷플릭스는 어디서든 함께니까요.
                    </div>
                  </div>
              </div>
              <div class="accordion-item">

              </div>
            </div>
  
            <div class="text-center">
              <h4>시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</h4>
              <div id="index-bottom-signup">
                <form class="row g-3 align-items-center justify-content-center w-50">
                  <div class="col-auto1">
                    <a th:href="@{/regi}" class="btn btn-danger btn-lg" style="background-color: rgba(255, 0, 0);"> 시작하기 &gt;
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="js">
    <script>
      $('header').addClass('hd-black-logout'); // 블랙 헤더 아무것도 없는버전
    </script>
  </th:block>
</body>

</html>