<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert title here</title>
  <!-- <%-- css링크연결 --%> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="stylesheet" href="/css/paymentCard.css">
  <!-- <%-- script링크연결 --%> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <%-- 아이콘--%> -->
  <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>

</head>

<body>
  <header th:replace="/header/header.html"></header>


  <div class="box-boundary">
    <h6>3/3단계</h6>
    <h1>신용카드나 체크카드 등록</h1>
    <div class="image-container">
      <div class="bordered">
        <img src="/images/pay_BC.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_hana.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_hd.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_kb.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_lotte.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_nh.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_samsung.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_shinhan.png" alt="이미지 설명" class="image">
      </div>
      <div class="bordered">
        <img src="/images/pay_union.png" alt="이미지 설명" class="image">
      </div>
    </div>


    <div class="text-container">
      <form method="post" class="row needs-validation" novalidate>
        <!-- 카드번호 -->
        <div class="credit-card mt-1">
          <div class="input-group">
            <label for="card-number" class="d-none"></label>
            <input type="text" id="card-number" name="cardNumber" class="form-control bg-white border-end-0"
              placeholder="카드 번호(1234-1234-1234-1234)" minlength="19" maxlength="20" required>
            <div class="input-group-append">
              <span class="input-group-text h-100 border-start-0 rounded-0 bg-white" style="border-color: #8c8c8c;">
                <i class="fa-regular fa-credit-card"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              카드 번호를 입력하세요.
            </div>
          </div>
        </div>


        <!-- 유효기간 -->
        <div class="card-box mt-1">
          <div class="input-group">
            <label for="expiry" class="d-none"></label>
            <input type="text" id="expiry" name="expiry" class="form-control bg-white" placeholder="유효기간(YYYY-MM)"
              required>
            <div class="invalid-feedback">
              유효기간을 입력하세요.
            </div>
          </div>
        </div>

        <!-- 유효기간 -->
        <div class="card-box mt-1">
          <div class="input-group">
            <label for="pwd-2digit" class="d-none"></label>
            <input type="text" id="pwd-2digit" name="pwd-2digit" class="form-control bg-white"
              placeholder="카드 비밀번호 앞 두자리 입력" maxlength="2" required>
            <div class="invalid-feedback">
              카드 비밀번호 앞 두자리를 입력하세요.
            </div>
          </div>
        </div>

        <!-- 이름 -->
        <div class="card-box mt-1">
          <div class="input-group">
            <label for="name" class="d-none"></label>
            <input type="text" id="name" name="name" placeholder="이름" class="form-control bg-white" required>
            <div class="invalid-feedback">
              이름을 입력하세요.
            </div>
          </div>
        </div>
        <!-- 생일 -->
        <div class="custom-select mt-1">
          <div class="input-group">
            <label for="birthday" class="d-none"></label>
            <select id="birthday" name="birthday" required class="form-control bg-white">
              <option value="" disabled selected hidden>생일</option>
            </select>
            <div class="invalid-feedback">
              생일을 입력해 주세요.
            </div>
          </div>
        </div>

        <!-- 생월 -->
        <div class="custom-select mt-1">
          <div class="input-group">
            <label for="birthmonth" class="d-none"></label>
            <select id="birthmonth" name="birthmonth" required class="form-control bg-white">
              <option value="" disabled selected hidden>생월</option>
              <option value="1">1월</option>
              <option value="2">2월</option>
              <option value="3">3월</option>
              <option value="4">4월</option>
              <option value="5">5월</option>
              <option value="6">6월</option>
              <option value="7">7월</option>
              <option value="8">8월</option>
              <option value="9">9월</option>
              <option value="10">10월</option>
              <option value="11">11월</option>
              <option value="12">12월</option>
            </select>
            <div class="invalid-feedback">
              생월을 입력해 주세요.
            </div>
          </div>
        </div>
        <!-- 출생연도 -->
        <div class="card-box mt-1">
          <div class="input-group">
            <label for="birthyear" class="d-none"></label>
            <input type="text" id="birthyear" name="birthyear" class="form-control bg-white" placeholder="출생연도"
              required>
            <div class="invalid-feedback">
              출생연도를 입력해 주세요.
            </div>
          </div>
        </div>
        <!-- 결제 선택 -->

        <div class="pay-choice">
          <div class="pay-choice-box">
            <a class="choice-type">

              <p class="month" th:text="'월 ' + ${membership.amount} +'원'"></p>
              <p class="premium" th:text="${membership.grade}"></p>
            </a>
            <a class="choice-type1" href="/planform">
              <p>변경</p>
            </a>
          </div>
        </div>


        <hr class="hr1">
        <div class="checkbox-container">
          <div class="custom-checkbox1">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="checkbox-label" for="invalidCheck">
              19세 이상이며, 아래의 약관에 모두 동의합니다.
            </label>
            <div class="invalid-feedback">
              먼저 이용 약관에 동의하셔야 합니다.
            </div>
          </div>
        </div>

        <hr class="hr2">


        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="checkbox-label" for="myCheckbox">
            <a>Netflix </a>
            <a href="링크_이용약관">이용 약관</a> 및
            <a href="링크_개인정보">개인정보 처리방침</a>에 동의합니다.
            <br>
            <a>(</a>
            <a href="링크_상세정보">상세 정보</a>
            <a>)</a>
          </label>
          <div class="invalid-feedback">
            먼저 이용 약관에 동의하셔야 합니다.
          </div>
        </div>

        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="checkbox-label" for="myCheckbox">본인의 개인 정보를 제3자에 제공하는 데에 동의합니다.</label>
          <div class="invalid-feedback">
            먼저 이용 약관에 동의하셔야 합니다.
          </div>
        </div>

        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="checkbox-label" for="myCheckbox">본인의 개인 정보가 해외로 이전되는 데에 동의합니다.</label>
          <div class="invalid-feedback">
            먼저 이용 약관에 동의하셔야 합니다.
          </div>
        </div>


        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="checkbox-label" for="myCheckbox">
            <a>본인의 개인 정보를 </a>
            <a href="링크_이용약관">결제 서비스업체</a>
            <a>에 제공하는 데에 </a>
            <br> <a>동의합니다.</a>
          </label>
          <div class="invalid-feedback">
            먼저 이용 약관에 동의하셔야 합니다.
          </div>
        </div>

        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="checkbox-label" for="myCheckbox">
            <a>멤버십을 해지하지 않으면 Netflix 멤버십이 자동으로</a><br>
            <a>계속되며, 멤버십 요금(현 17,000원)이 등록한 결제</a><br>
            <a>수단으로 매월 청구됩니다. 멤버십은 www.netflix.com의</a><br>
            <a>'계정' 페이지에서 언제든지 해지할 수 있습니다. 이 경우</a><br>
            <a>결제 주기가 종료될 때 멤버십이 해지되며, 잔여 기간</a><br>
            <a>동안은 서비스를 계속 이용할 수 있습니다. 단,</a><br>
            <a>결제일로부터 7일 이내에 멤버십이 즉시 종료되도록</a><br>
            <a>해지하고 해당 계정을 통해 Netflix 콘텐츠를 이용하지</a><br>
            <a>않은 경우, 해당 결제 주기에 청구된 멤버십 요금을 전액</a><br>
            <a>환불 요청할 수 있습니다.</a><br>
          </label>
          <div class="invalid-feedback">
            먼저 이용 약관에 동의하셔야 합니다.
          </div>
        </div>
        <div id="hidden-place" class="">
          <input id="user-id" type="hidden" th:value="${#authentication.principal.username}" />
          <input id="membership-no" type="hidden" th:value="${membership.membershipNo}"/>
          <input id="amount" type="hidden" th:value="${membership.amount}" />
          <input id="membership-grade" type="hidden" th:value="${membership.grade}" />
        </div>
        <div class="centered-button-container" style="margin-top: 40px" ;>
          <input id="submit-btn" class="button centered-button" type="submit" value="유료 멤버십 시작">
        </div>



        <div class="text-alarm">
          <a>이 페이지는 Google reCAPTCHA의 보호를 받아 사용자가 로봇이 아님을<br> 확인합니다.</a>
          <a class="text-alarm2" href="링크_이용약관">자세히 알아보기.</a>
        </div>




      </form>
    </div>
  </div>

  <script>
    // 생일 옵션을 동적으로 추가하는 함수
    function populateBirthdayOptions() {
      const birthdaySelect = document.getElementById('birthday');

      // 옵션 추가
      for (let i = 1; i <= 31; i++) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = i + '일';
        birthdaySelect.appendChild(option);
      }
    }

    // 페이지 로드 시 호출
    window.addEventListener('DOMContentLoaded', function () {
      populateBirthdayOptions();
    });
  </script>




  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const mainCheckbox1 = document.querySelector('.custom-checkbox1 input[type="checkbox"]');
      const checkboxes = document.querySelectorAll('.custom-checkbox input[type="checkbox"]:not(.custom-checkbox1 input[type="checkbox"])');

      mainCheckbox1.addEventListener("change", function () {
        checkboxes.forEach(function (checkbox) {
          checkbox.checked = mainCheckbox1.checked;
        });
      });

      checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener("change", function () {
          let allChecked = true;
          checkboxes.forEach(function (checkbox) {
            if (!checkbox.checked) {
              allChecked = false;
            }
          });
          mainCheckbox1.checked = allChecked;
        });
      });
    });
  </script>




  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', async function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (!form.checkValidity()) {

            } else {
              const request = await asyncRequest();
              console.log(request);
            }

            form.classList.add('was-validated')

          }, false)
        })
    })()
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    async function asyncRequest() {
      const userId = document.querySelector("#user-id").value;
      const cardNumber = document.querySelector("#card-number").value;
      const birthDay = document.querySelector("#birthday").value;
      const birthMonth = document.querySelector("#birthmonth").value;
      const birthYear = document.querySelector("#birthyear").value;
      const paddedDay = padWithZeros(birthDay, 2);
      const paddedMonth = padWithZeros(birthMonth, 2);
      const splitedYear = birthYear.substring(2, birthYear.length);
      const birth = `${splitedYear}${paddedMonth}${paddedDay}`;
      const expiry = document.querySelector("#expiry").value;
      const pwd2digit = document.querySelector("#pwd-2digit").value;
      const membershipNo = document.querySelector("#membership-no").value;
      const amount = document.querySelector("#amount").value;
      const membershipGrade = document.querySelector("#membership-grade").value;


      const json = {
        userId: userId,
        cardNumber: cardNumber,
        birth: birth,
        expiry: expiry,
        pwd2digit: pwd2digit,
        membershipNo: membershipNo,
        amount: amount,
        name: membershipGrade
      }

      const formData = jsonToFormData(json);

      const { data} = await axios.post('/subscription/issue-billing', formData);
      if(data.status==="success"){
        alert("결제가 완료 되었습니다.");
        location.href="/home";
      }else{
        alert("결제가 완료되지 않았습니다. 결제정보를 확인해주세요");
      }

    };
    function jsonToFormData(json) {
      const formData = new FormData();
      for (const key in json) {
        if (json.hasOwnProperty(key)) {
          formData.append(key, json[key]);
        }
      }
      return formData;
    }

    // 사용 예제
    const jsonData = {
      username: 'john_doe',
      email: 'john@example.com',
      age: 30
    };

    

    function padWithZeros(number, width) {
      const numberString = number.toString();
      const zeroCount = width - numberString.length;

      if (zeroCount > 0) {
        return '0'.repeat(zeroCount) + numberString;
      } else {
        return numberString;
      }
    }


  </script>
</body>

<!-- 로그인 페이지에 넣을거 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $('header').addClass('hd-white'); // 로그인 페이지에 넣을거
</script>

</html>