<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원건보다하늘</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/planform.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/179a863a03.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--헤더 영역-->
    <header class="content-header header bg-header-theme text-center">
        <h1>헤더영역</h1>
    </header>

    <!--본문 영역-->
    <div class="wrap">
        <div id="container">
            <div>
                <div id="step">
                    <p style="font-size: small;">2/3단계</p>
                </div>
                <h3>원하는 멤버십을 선택하세요.</h3>
            </div>
            <div id="regi-content">
                <div class="d-flex">
                    <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                    <p class="fs-5">무제한으로 즐기세요.</p>
                </div>

                <div class="d-flex">
                    <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                    <p class="fs-5">취향에 꼭 맞는 콘텐츠를 추천해 드립니다.</p>
                </div>

                <div class="d-flex">
                    <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                    <p class="fs-5">멤버십은 언제든지 변경 또는 해지 가능합니다.</p>
                </div>
            </div>

        </div>

        <!--pricing table -->

        <!--Next button-->
            
        <div class="col-auto1 pt-4 align-self-center d-grid">
            <button id="next-button" type="submit" class="btn btn-danger btn-lg">
                <a href="#" style="text-decoration: none; color: azure;"><strong>다음</strong></a>
            </button>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>