<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/layouts/layoutwhite}">

<head>
<title>singup</title>
</head>

<body>
  <th:block layout:fragment="css">
    <link th:href="@{/css/login/regi-style.css}" rel="stylesheet">
    <style>
    footer {
      color: #000;
      background-color: #fff;
      padding: 20px 0;
      text-align: center;
    }
    .footer-link{
      color: #000;
    }
    </style>
  </th:block>

  <th:block layout:fragment="content">
    <div class="wrap">
        <div>
            <img src="/images/signup-devices.png">
        </div>
        <div>
            <div id="step"><b>1</b>/<b>3단계</b></div>
            <h2>계정 설정 마무리하기</h2>
        </div> 
        <div id="regi-content">
            <p class="text-center">맞춤형 콘텐츠 서비스, 넷플릭스!<br> 
                비밀번호를 설정해 다양한<br> 
                디바이스에서 아무 때나 시청하세요.</p>
        </div> 
        <div class="col-auto1 pt-4 align-self-center d-grid">
            <button id="login-button" type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/regi2'">
                <strong>다음</strong>
            </button>
        </div>
    </div>
  </th:block>

  <th:block layout:fragment="js">
    <script>
       $('header').addClass('hd-white');
    </script>
  </th:block>
</body>

</html>