<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/layouts/layout}">

<head>
    <title>MOVIE</title>
</head>

<body>
    <th:block layout:fragment="css">
        <link th:href="@{/css/login/regi-style.css}" rel="stylesheet">
    </th:block>


    <th:block layout:fragment="content">
    <!--본문 영역-->
    <div class="wrap">
        <div id="checkbox">
            <img id="checked" src="/images/Checkmark.png">
        </div>
        <div>
            <div id="step">
                <p style="font-size: small;">2/3단계</p>
            </div>
            <h2 class="text-center">원하는 멤버십을<br> 선택하세요.</h2>
        </div>
        <div id="regi-content">
            <div class="d-flex">
                <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                <p class="h5">無약정, 無위약금. 해지도 쿨하게 <br> 언제든지.</p>
            </div>

            <div class="d-flex">
                <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                <p class="h5">하나의 요금으로 즐기는 끝없는 <br> 콘텐츠의 세계.</p>
            </div>

            <div class="d-flex">
                <span style="color:red"><i class="fa-solid fa-check fa-2x"></i></span>
                <p class="h5">모든 디바이스에서 무제한 시청.</p>
            </div>
        </div>

        <div class="col-auto1 pt-4 align-self-center d-grid">
            <button id="login-button" type="button" class="btn btn-danger btn-lg" th:onclick="|window.location.href='/planform'|">
                <strong>다음</strong>
            </button>
        </div>
    </th:block>    

    <th:block layout:fragment="js">
        <script>
        $('header').addClass('hd-white');
        </script>
    </th:block>

</body>

</html>