<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/layouts/layout}">

<head>
  <title>acouunt</title>
  
</head>

<body>
  <th:block layout:fragment="css">
    <link href="/css/account-style.css" rel="stylesheet">
  </th:block>
  
  <th:block layout:fragment="content">
  <!--본문 영역-->
  <div class="wrap w-50">
    <!--계정 헤더 영역-->
    <div class="d-flex mt-5" >
      <h2 style="margin-right: 10px;">계정</h2>
      <div class="d-flex" style="margin-top: auto;">
        <i class="fa-solid fa-film" style="color: #fa0000; margin-right: 8px;"></i>
        <p style="font-size: small;"> 멤버십 시작: 날짜</p>
      </div>
    </div>
    <hr>
    
    <!--멤버십 정보 영역-->
    <div class="d-flex justify-content-between">
      <div class="left">
        <h5 style="color: dimgray">멤버십 & 결제 정보 </h5>
        <!-- <div th:text="${user.lastOrder}"></div>
        <div th:text="${user.secondLastOrder}"></div> -->
        <div th:if="${user.lastOrder == null}">
          <button id="order-new" onclick="location.href='/planform'" class="w-100 border-0 btn-cancel"
            th:text="'멤버십 가입'"></button>
        </div>
        <div th:if="${user.lastOrder != null && user.secondLastOrder != null}">
          <div th:switch="${user.secondLastOrder.orderValid}">
            <div th:case="'V'">
              <div th:switch="${user.lastOrder.orderValid}">
                <button th:case="'T'" id="order-cancel" th:attr="data-userId=${user.userId}" type="button"
                  class="w-100 border-0 btn-cancel" th:text="'멤버십 취소'"></button>
                <button id="order-renew" th:case="'C'" type="button" class="w-100 border-0 btn-cancel"
                  th:text="'멤버십 다시 가입하기'"></button>
              </div>
            </div>
            <div th:case="*">
              <div th:switch="${user.lastOrder.orderValid}">
                <button id="order-renew" th:case="*" type="button" class="w-100 border-0 btn-cancel"
                  th:text="'멤버십 다시 가입하기'"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div id="" class="d-flex justify-content-between">
          <p><b>이메일주소</b>: <span th:text="${user.userEmail}"></span></p>
          <a href="#"> 계정이메일 변경</a>
        </div>
        <div th:if="${user.social == 'none'}" class="d-flex justify-content-between">
          <p ><b>비밀번호: </b> ******** </p>
          <a href="/my/password"> 비밀번호 변경</a>
        </div>
        <div th:unless="${user.social == 'none'}"  class="d-flex justify-content-between">
          <p><b>소셜 회원: </b> <span th:text="${user.social}"></span></p>
          <!-- <p>전화번호:</p>          -->

          <!-- <a href="#"> 전화번호 변경</a>  -->
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <div>
            <p><b>결제방법</b>: 카드 <span id="card-number" th:text="${user.cardNumber}"></span></p>
            <!-- <p>다음결제일은 입니다</p>        -->
          </div>
          <div class="">
            <div>
              <a href="#"> 결제 정보 관리</a>
            </div>
            <!-- <a href="#"> 예비 결제 수단 등록</a> -->
            <div>
              <a href="/my/order"> 결제 상세 정보</a>
              <!-- <a href="#"> 결제일 변경</a>   -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--멤버십 상세정보 영역-->
    <div class="d-flex">
      <div class="left">
        <h5 style="color: dimgray">멤버십 상세정보</h5>
      </div>
      <div class="right">
        <div id="">
          <p><b>멤버십 종류:</b>
          <div th:if="${user.secondLastOrder == null}">
            <span th:if="${user.secondLastOrder == null}">등급 없음</span>
          </div>
          <div th:if="${user.secondLastOrder != null}">
            <div th:switch="${user.secondLastOrder.orderValid}">
              <span th:case="'V'" th:text="${membership.grade}"></span>
              <span th:case="*" th:text="'마지막 결제 멤버십 등급: ' + ${membership.grade} + ' 유효하지 않음'"></span>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>
    <hr>

    <hr>
    <!--멤버십 프로필 정보 영역-->
    <div class="d-flex">
      <div class="left">
        <h5 style="color: dimgray">프로필 설정</h5>
      </div>
      <div class="right">
        <div th:each="profile, iterStat :${user.ProfileList}">
          <div class="d-flex">
            <div style="margin-right: 20px;"><img style="width: 100px; height: 100px;"
                th:src="@{'/images/profile/profile-'+ (${iterStat.index} + 1) +'.png'}"></div>
            <div>
              <p th:text="${profile.profileName}"></p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <hr>

  </div>


  </th:block>

  <th:block layout:fragment="js">
    <script >
      $('header').addClass('hd-white');
      // $('header').addClass('hd-white-logout');
      const cardNumber = document.querySelector("#card-number");
      const maskedValue = (inputValue) => {
      return inputValue.replace(/(\d{4})-(\d{4})-(\d{4})-(\d{4})/, '$1-****-****-$4');
    }
    cardNumber.textContent = maskedValue(cardNumber.textContent);

    const orderCancel = document.querySelector("#order-cancel");
    if (orderCancel !== null) {
      orderCancel.addEventListener("click", async e => {
        e.preventDefault()
        const userId = e.target.dataset.userId;
        
        const { data } = await axios.delete("/my/cancel", header = {
          headers: {
            "Content-Type": "application/json; charset=utf-8",
          },
          data: {
            "user_id": userId
          }
        });
        const { message, status } = data;
        if (status == 200) {
          alert(message);
        } else {
          alert(message);
        }
        location.href = "/my/account";
      });
    }
    const orderRenew = document.querySelector("#order-renew");
    if (orderRenew !== null) {
      orderRenew.addEventListener("click", e => {
        e.preventDefault()
        location.href = "/payment-card";
      })
    }
    </script>

</th:block>
</body>


</html>