<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <!-- <div th:with="loginPage=${/login}"> -->
  <div sec:authorize="isAnonymous()">
    <div><a th:href="@{/login}"> 로그인</a></div>
    <div><a href="/sign-up">회원가입</a></div>
  </div>
  <!-- </div> -->
  <!-- <span th:text="${#authentication}"></span><br /> -->
  <div sec:authorize="isAuthenticated()">
    <span th:text="${user}"></span>님 환영합니다<br />
    <span sec:authentication="principal.username"></span>님 환영합니다<br />
    <form id="logoutForm" action="/logout" method="POST">
      <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
      <button type="submit">logout</button>
    </form>
    <a href="/accountpage"><input type="button" value="마이페이지"></a>
    <div id="open-modal"><input type="button" value="프로필창 열기"></div>
    <div th:text="${selectedProfile}"></div>
    <div id="modalWrap">
      <div id="modalBody">
        <span id="closeBtn">&times;</span>
        <p>modal-popup 입니다.</p>
        <div class="profile-container" style="display: flex; justify-content: center;">
          <div th:each="profile: ${user.profileList}">
            <div th:text="${profile.profileName}"
              style="text-align: center; line-height: 100px; width:100px; height:100px;"></div>
          </div>
        </div>
        <div style="display: flex; justify-content: center;"><a href="/profile/manage">프로필 관리</a></div>
      </div>
    </div>
  </div>

  <!-- 영화 리스트 + 지울까말까  ==== > 이거 쓰면 스파이패밀리보다 위에 나옴 
  <div id="movieList"></div> 영화 목록이 표시되는 부분 -->

  <!-- 영화 리스트 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //     const movies = [
    //     { name: "어바웃타임", posterUrl: "images/sample.jpg", genre: "로맨스" },

    // ];

    // fetch('/api/movies') // UTL로 HTTP요청 보내고 데이터 처리 (GET)
    //   .then(response => response.json()) // json 형식으로 변환
    //   .then(data => { // 이전 단계에서 변환된 json데이터를 사용하여 실제 영화 목록 처리하고 웹 페이지에 표시
    //     console.log(data);
    //     const movieList = document.getElementById('movieList'); // HTML문서 내 id가 "movieList"인 요소를 찾아 가져옴
    //     data.forEach(movie => { // 가져온 영화 데이터 배열 반복 
    //       const movieDiv = document.createElement('div'); // 각 영화를 표시할 새로운 <div>요소 생성. 영화마다 생성되며 영화 정보가 포함
    //       movieDiv.innerHTML = ` 
    //                 <img src="${movie.posterUrl}" alt="${movie.name}" />
    //                 <h2>${movie.name}</h2>
    //                 <p>${movie.genre}</p>
    //             `; // 생성된 div 안에 영화 정보를 HTML 형식으로 추가. 포스터 이미지, 제목 및 장르 포함. ${} : 템플릿 리터럴을 사용하여 변수값을 문자열에 삽입
    //       movieList.appendChild(movieDiv); // 생성된 영화 정보가 포함된 div를 이전에 가져온 movieList요소에 추가. 각 영화 정보가 웹페이지에 표시
    //     });
    //   })
    //   .catch(error => console.error('Error fetching movies:', error)); // 데이터 가져오기나 처리 중 오류가 발생하면 오류를 콘솔에 출력

    // 영화 정보 추가 Create
    function addMovie(newMovie) { // 영화 정보 받아와 서버에 추가 -> newMovie 새로 추가될 영화 정보
      fetch('/api/movies', {  // 새로운 영화 정보를 추가하기 위해 api 엔드포인트로 요청 보냄
        method: 'POST', // 서버 측에 새로운 데이터 생성
        headers: { // 요청의 헤더에 json형식의 데이터 전송함 
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(newMovie) // newMovie 객체를 json형식으로 변환하여 전송~ 
      })
        .then(response => response.json()) // 서버로부터 받은 응답을 json으로 파싱
        .then(movie => { // 파싱된 json 데이터를 이용하여, 추가된 영화 정보를 웹 페이지에 랜더링하는 renderMovie함수 호출 
          renderMovie(movie);
        })
        .catch(error => console.error('Error adding movie:', error)); // 오류 콘솔로
    }



    //영화 정보 수정 update 
    function updateMovie(id, updatedMovie) { // 특정 영화 정보 업데이트 
      fetch(`/api/movies/${id}`, { // %{id} 고유 식별자를 나타내어 특정 영화 정보 업데이트 엔드포인트로..
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedMovie)
      })
        .then(response => response.json())
        .then(movie => {  // 업데이트된 영화 정보를 화면에 반영하는 코드 
        })
        .catch(error => console.error('Error updating movie:', error));
    }

    // 영화 정보 삭제 delete
    function deleteMovie(id) { // 삭제 ~ 
      fetch(`/api/movies/${id}`, { // 지정된 id를 사용하여 해당 영화의 삭제 요청을 서버에 
        method: 'DELETE'
      })
        .then(response => { // 서버로부터 응답받은 후에 처리하는 콜백 함수 
          if (response.status === 204) { // 응답 상태 코드가 204인 경우 처리 진행 !
            const movieElement = document.querySelector(`[data-movie-id="${id}"]`); // 삭제된 영화의 고유 식별자 id를 가진 영화 엘리먼트를 html에서 찾음. (data-moive-id속성이 id와 일치)
            if (movieElement) { // 삭제할 영화의 엘리먼트를 찾았다면 해당 엘리먼트 삭제 -> UI에서도 제거 
              movieElement.remove();
            }
          }
        })
        .catch(error => console.error('Error deleting movie:', error));
    }


  </script>

</body>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/jquery/3.6.4/jquery-3.7.0.min.js"></script>
  <script src="https://kit.fontawesome.com/cc89ddadc0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/js/jquery/3.6.4/jquery.modal.min.css" />
  <link rel="stylesheet" href="/css/homepage/home.css" />


  <title>NETFLIX</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>templates</title>
  <style>
    * {
      box-sizing: border-box;
    }

    #modalWrap {
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      display: block;
    }

    #modalBody {
      width: 500px;
      height: 300px;
      padding: 30px 30px;
      margin: 0 auto;
      border: 1px solid #777;
      background-color: #fff;
    }

    #closeBtn {
      float: right;
      font-weight: bold;
      color: #777;
      font-size: 25px;
      cursor: pointer;
    }
  </style>
</head>


<script>

  $(document).ready(function () {
    fnInit();
    fnPageStart();
  });

  async function fnPageStart() {
    /*랜덤 뽑기*/
    const randomNumber = Math.floor(Math.random() * 50);
    const { data } = await axios.get(`/api/movies?startIndex=0&count=50`);
    $("#mainFrame").attr('src', data[randomNumber].movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data[randomNumber].movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0")//index는 랜덤으로 만든 값
    $("#mainContent").text(data[randomNumber].movieContent)
    $("#mainTitle").text(data[randomNumber].movieName)
    $("#mainDetailModal").on("click", () => {

      getOneMovie(randomNumber + 1);
    });
    $("#mainMovePlay").click(function (e) {
      var srcCd = $("#mainVideo")
      console.log(randomNumber)
      //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
      location.href = `//localhost:8888/watch?src=${(randomNumber + 1)}`;
      //location.href= "https://www.naver.com"
    });

    $(".video-stream").attr('style', 'top:0px');

  }

  function fnInit() {

    //임시 TITLE 증가값
    var count = 1;

    //무한스크롤 START
    //DOCUMENT 스크롤 이벤트 감지
    $(document).ready(function () {

      if (currentDataIndex <= 40)
        getMovies();

      async function getMovies() {
        const { data } = await axios.get(`/api/movies?startIndex=${currentDataIndex}&count=10`);

      }
    });


    const openBtn = document.querySelector("#open-modal");
    const modal = document.getElementById('modalWrap');
    const closeBtn = document.getElementById('closeBtn');
    const modalBody = document.querySelector("#modalBody");

    openBtn.addEventListener("click", (e) => {
      e.stopPropagation();
      modal.style.display = `block`;
    });

    closeBtn.addEventListener('click', (e) => {
      e.stopPropagation();
      modal.style.display = 'none';
    });
    window.addEventListener("click", (e) => {
      e.stopPropagation();
      modal.style.display = 'none';
    });
    modalBody.addEventListener('click', (e) => {
      e.stopPropagation();
    });


  }

  async function getOneMovie(id) {

    /*통신전에 progress START*/
    const { data } = await axios.get(`/api/movies/${id}`);
    /*통신전에 progress END*/
    console.log(id);
    $("#detailFrame").attr('src', data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
    $("#mainVideo").val(data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
    $("#detailContent").text(data.movieContent);
    $("#detailCast").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
    $("#detailGenre").text('장르 : ' + data.movieGenre);
    $("#detailCast2").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
    $("#detailGenre2").text('장르 : ' + data.movieGenre);
    $("#detailReleaseDate").text('개봉일자 : ' + new Date(data.movieReleaseDate).toLocaleDateString());
    $("#playBtn").click(function (e) {
      var srcCd = $("#mainVideo")
      //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
      location.href = `//localhost:8888/watch?src=${(id)}`;
      //location.href= "https://www.naver.com"
    });

    $("#detailModal").modal();
    /*통신전에 progress END*/
    //모달창 구성하기
    //modal.style.display = `block`;
    //$("#detail").modal('show');
    console.log(data);
  }
</script>

<body>
  <!--헤더 영역-->
  <!-- <div th:include="/header/header.html"></div> -->
  <!-- 로그인 페이지에 넣을거 -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->


  <style>
    div {
      color: white;
    }
  </style>
  <div class="home" id="home">

    <iframe id="mainFrame" width="1280" height="800" src="" frameborder="0" allowfullscreen></iframe>

    <div class="overlay">
      <div class="banner">
        <div class="series">N 시리즈</div>
        <div id="mainTitle" class="title"></div>
        <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
        <div id="mainContent" class="discription">
        </div>
        <div class="buttons">
          <div id="mainMovePlay" class="white-button" style="cursor: pointer">
            <i class="fa-solid fa-play">재생</i>
            <!-- <input type="hidden" id="mainVideo" value=""> -->
          </div>
          <div id="mainDetailModal" class="grey-button" style="cursor: pointer">
            <i class="fa-solid fa-circle-info"></i>
            <a class="info">상세정보</a>
          </div>

        </div>
      </div>
    </div>

    <div class="category-list" id="category-list">
      <div class="category" id="category">

      </div>
    </div>
  </div>

  <div id="detailModal" class="modal">
    <!--<video src="/mp4/abouttime.mp4" poster="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140225_187%2Fjjy6374_1393262077172sH29y_PNG%2FAbout_Time3.png&type=sc960_832"
      autoplay muted>
    </video>-->
    <div class="video-container">
      <iframe id="detailFrame" width="850" height="480" src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="buttons">
      <div id="playBtn" class="white-button" style="cursor: pointer">
        <i class="fa-solid fa-play">재생</i>
        <input type="hidden" id="mainVideo" value="">
      </div>
    </div>

    <div class="detail-container">
      <div class="detail-left">
        <div id="detailContent" class="content">회차줄거리</div>
      </div>

      <div class="detail-right">
        <div id="detailCast" class="actor">출연</div>
        <div id="detailGenre" class="genre">장르</div>
      </div>
    </div>

    <div class="content-detail">
      <div class="actor">
        <p id="detailCast2">출연</p>
      </div>
      <div class="genre">
        <p id="detailGenre2">장르</p>
      </div>
      <div class="releasedate">
        <p id="detailReleaseDate">출시일</p>
      </div>

    </div>
  </div>
</body>

</html>