<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>HOME</title>

</head>

<body>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/homepage/home.css" />
    <style>
      * {
        box-sizing: border-box;
        border: 1px solid greenyellow; 

      }

      div {
        color: white;
      }

      #modalWrap {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        /* padding-top: 100px; */
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        display: block;
      }

      #modalBody {
        width: 100%;
        height: 100%;
        padding: 30px 30px;
        margin: 0 auto;
        border: 1px solid #777;
        background-color: #000;
      }

      #modalBody p {
        margin: 70px 0px;
        font-size: 32px;
        color: #fff;
        text-align: center;
      }

      #closeBtn {
        float: right;
        font-weight: bold;
        color: #777;
        font-size: 25px;
        cursor: pointer;
      }

      #profile-container {
        display: flex;
        justify-content: center;
        margin-top: -30px; /* 원하는 만큼 음수 값을 조정하여 위로 올립니다 */
      }

      header {
        position: relative;
        z-index: 100;
        color: #000000;
      }

      .home {
        top: -110px;
      }
    </style>
  </th:block>

  <th:block layout:fragment="content">
    <div th:switch="${#authentication.principal.userVO.selectedProfile}">
      <div th:case="null" id="modalWrap">
        <div id="modalBody">
          <span id="closeBtn">&times;</span>
          <p>프로필 선택</p>
          <div id="profile-container" style="display: flex; justify-content: center;">
            <div th:each="profile, profileStat: ${user.profileList}"
            th:attr="data-profile-name=${profile.profileName}"
            style="text-align: center; width:120px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
         <img th:src="@{/images/profile/profile-{index}.png(index=${profileStat.index+1})}"
              style="width: 88px; height: 88px; margin: 0 30px; border-radius: 2px;" />
         <div type="button" th:text="${profile.profileName}"
              style="width: 100px; height: 30px; line-height: 30px; color: #fff; font-size: 12px;">
         </div>
       </div>
          </div>
<!-- 버튼 -->
            <div style="display: flex; justify-content: center;">
              <a href="/profile/manage" style="display: inline-block; margin:70px; padding: 10px 20px; background-color: #fff; color: #000; text-decoration: none; border-radius: 2px; text-align: center;">프로필 관리</a>
            </div>        
          </div>
      </div>
      <div th:case="*" id="modalWrap" style="display: none;">
        <div id="modalBody">
          <span id="closeBtn">&times;</span>
          <p>modal-popup 입니다.</p>
          <div id="profile-container" style="display: flex; justify-content: center;">
            <div th:each="profile, profileStat: ${user.profileList}"
              th:attr="data-profile-name=${profile.profileName}"
              style="text-align: center; line-height: 100px; width:100px; height:100px;">
              <img th:src="@{/images/profile/profile-{index}.png(index=${profileStat.index+1})}"
              style="width: 88px; height: 88px; margin-right: 10px; margin-left: 10px; border-radius: 2px;" />
              <div type="button" th:text="${profile.profileName}"
                style="width: 100px; height: 30px; text-align: center; line-height: 30px; color: #fff; font-size: 12px;">
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: center;"><a href="/profile/manage">프로필 관리</a></div>
        </div>
      </div>
    </div>
    <div class="home" id="home">

      <iframe id="mainFrame" width="1280" height="800" src="" frameborder="0" allowfullscreen></iframe>

      <div class="overlay">
        <div class="banner">
          <div class="series">N 시리즈</div>
          <div id="mainTitle" class="title"></div>
          <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
          <div id="mainContent" class="discription">
          </div>
          <div class="buttons">
            <div id="mainMovePlay" class="white-button" style="cursor: pointer">
              <i class="fa-solid fa-play">재생</i>
            </div>
            <div id="mainDetailModal" class="grey-button" style="cursor: pointer">
              <i class="fa-solid fa-circle-info"></i>
              <a class="info">상세정보</a>
            </div>

          </div>
        </div>
      </div>

      <div class="category-list" id="category-list">
        <div class="category" id="category">

        </div>
      </div>
    </div>

    <div id="detailModal" class="modal">
      <!--<video src="/mp4/abouttime.mp4" poster="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140225_187%2Fjjy6374_1393262077172sH29y_PNG%2FAbout_Time3.png&type=sc960_832"
      autoplay muted>
    </video>-->
      <div class="video-container">
        <iframe id="detailFrame" width="850" height="480" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="buttons">
        <div id="playBtn" class="white-button" style="cursor: pointer">
          <i class="fa-solid fa-play">재생</i>
          <input type="hidden" id="mainVideo" value="">
        </div>
      </div>

      <div class="detail-container">
        <div class="detail-left">
          <div id="detailContent" class="content">회차줄거리</div>
        </div>

        <div class="detail-right">
          <div id="detailCast" class="actor">출연</div>
          <div id="detailGenre" class="genre">장르</div>
        </div>
      </div>

      <div class="content-detail">
        <div class="actor">
          <p id="detailCast2">출연</p>
        </div>
        <div class="genre">
          <p id="detailGenre2">장르</p>
        </div>
        <div class="releasedate">
          <p id="detailReleaseDate">출시일</p>
        </div>

      </div>
    </div>
  </th:block>


  <th:block layout:fragment="js">
    <script>
      $(document).ready(function () {
        fnInit();
        fnPageStart();
      });

      async function fnPageStart() {
        /*랜덤 뽑기*/
        const randomNumber = Math.floor(Math.random() * 50);
        const { data } = await axios.get(`/movies/api/movies?startIndex=0&count=50`);
        $("#mainFrame").attr('src', data[randomNumber].movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data[randomNumber].movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0")//index는 랜덤으로 만든 값
        $("#mainContent").text(data[randomNumber].movieContent)
        $("#mainTitle").text(data[randomNumber].movieName)
        $("#mainDetailModal").on("click", () => {

          getOneMovie(randomNumber + 1);
        });
        $("#mainMovePlay").click(function (e) {
          var srcCd = $("#mainVideo")
          console.log(randomNumber)
          //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
          location.href = `//localhost:8888/watch?src=${(randomNumber + 1)}`;
          //location.href= "https://www.naver.com"
        });

        $(".video-stream").attr('style', 'top:0px');

      }

      function fnInit() {

        //임시 TITLE 증가값
        var count = 1;
        currentDataIndex = 0;
        //무한스크롤 START
        //DOCUMENT 스크롤 이벤트 감지
        $(document).ready(function () {

          if (currentDataIndex <= 40)
            getMovies();

          async function getMovies() {
            const { data } = await axios.get(`/movies/api/movies?startIndex=${currentDataIndex}&count=10`);

          }
        });


        const modal = document.getElementById('modalWrap');
        const closeBtn = document.getElementById('closeBtn');
        const modalBody = document.querySelector("#modalBody");

        closeBtn.addEventListener('click', (e) => {
          e.stopPropagation();
          modal.style.display = 'none';
        });
        window.addEventListener("click", (e) => {
          e.stopPropagation();
          modal.style.display = 'none';
        });
        modalBody.addEventListener('click', (e) => {
          e.stopPropagation();
        });

        const profileNames = document.querySelector("#profile-container").children;
        console.log(profileNames);
        Array.from(profileNames).forEach(elmnt => {
          'use strict'

          elmnt.addEventListener("click", async e => {
            const profileName = e.target.dataset.profileName;
            console.log(profileName);
            const requestBody = {
              "selected_name": profileName
            }
            const response = await axios.post("/profile/select", requestBody, {
              "Content-type": "application/json"
            });
            const { data, status } = response;
            if (status === 200) {
              location.href = "/home"
            }
          });
        })

      }

      async function getOneMovie(id) {

        /*통신전에 progress START*/
        const { data } = await axios.get(`/movies/api/movies/${id}`);
        /*통신전에 progress END*/
        console.log(id);
        $("#detailFrame").attr('src', data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
        $("#mainVideo").val(data.movietrailerUrl.split("?")[0] + "?mute=1&autoplay=1&loop=1&playlist=" + data.movietrailerUrl.split("/").pop().split("?")[0] + "&controls=0");
        $("#detailContent").text(data.movieContent);
        $("#detailCast").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
        $("#detailGenre").text('장르 : ' + data.movieGenre);
        $("#detailCast2").text('출연 : ' + data.movieCast.replace(/[\[\]"']/g, ''));
        $("#detailGenre2").text('장르 : ' + data.movieGenre);
        $("#detailReleaseDate").text('개봉일자 : ' + new Date(data.movieReleaseDate).toLocaleDateString());
        $("#playBtn").click(function (e) {
          var srcCd = $("#mainVideo")
          //쿼리스트링 / Controller에서 쿼리스트링 다음페이지로 넘기는방법
          location.href = `//localhost:8888/watch?src=${(id)}`;
          //location.href= "https://www.naver.com"
        });

        $("#detailModal").modal();
        /*통신전에 progress END*/
        //모달창 구성하기
        //modal.style.display = `block`;
        //$("#detail").modal('show');
        console.log(data);
      }
    </script>
  </th:block>
</body>

</html>